@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes upto {
  0% {
      transform: translateY(0%);
  }

  50% {
      transform: translateY(10%);
  }
}

.fontdow {
  -webkit-animation: fontdow 1s cubic-bezier(1,0,0,1) infinite;
  animation: fontdow 1s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes fontdow {
  0% {
      color: #fff;
  }

  33% {
      color: #ffbc00;
  }

  67% {
      color: #9fdbe9;
  }

  100% {
      color: #00ffd6;
  }
}

@keyframes fontdow {
  0% {
      color: #fff;
  }

  33% {
      color: #ffbc00;
  }

  67% {
      color: #9fdbe9;
  }

  100% {
      color: #00ffd6;
  }
}
@keyframes anim2 {
  0%,100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px)
  }

  20%,40%,60%,80% {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px)
  }
}

@-webkit-keyframes anim2 {
  0%,100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px)
  }

  20%,40%,60%,80% {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px)
  }
}