// banner
.section-banner {}

.banner-head {
    height: 1050px;
    width: 100%;
    background: url(../images/banner/head.jpg) no-repeat center top;
    // padding-left: 64px;
    position: relative;
    box-sizing: border-box;
    padding-top: 1px;
    background-size: 100% 100%;
}

audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}

.head-video {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0;
    left: 45%;
    transform: translateX(-50%);
    -webkit-mask: url(../images/banner/head-mask.png) center/100% 100%;
    mask: url(../images/banner/head-mask.png) center/100% 100%;
    // -webkit-mask-image: url(../images/banner/head-mask.png);
    // mask-image: url(../images/banner/head-mask.png);
    // -webkit-mask-size: 100% 100%;
    // mask-size: 100% 100%;
    // -webkit-mask-repeat: no-repeat;
    // mask-repeat: no-repeat;
    // -webkit-mask-position: center;
    // mask-position: center;
    // position: relative;
    video {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @include breakpoint(xl){
        left: 50%;
    }
}
.main-content article {
    // background: url(../images/banner/content-bottom.jpg) no-repeat center bottom;
    // background: #e2e5e7;
    // color: #000;
    // padding: 32px;
    // padding: 40px 30px 100px;
    color: #000;
    // width: 630px;
    // min-height: 680px;
}