.btn-clear {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.btn {
    padding: 8px 20px;
    font-weight: 400;
    outline: none;
    border: none;
    white-space: nowrap;
    &:focus,
    &:active,
    &:hover {
        outline: 0;
        box-shadow: none;
    }
}

.btn-primary {
    background-color: $clr-btn;
    color: $clr-white;
    &:hover,
    &:focus,
    &:active {
        background-color: lighten($color: $clr-btn, $amount: 10%)!important;
        color: $clr-white;
        border-color: $clr-btn!important;
    }
}

.scrolldown {
    position: absolute;
    left: 47%;
    // bottom: 2%;
    top: 2%;
    // left: 50%;
    // transform: translateX(-50%);
    background-image: url(../images/icons/_sprites-f1.png);
    background-position: -210px -230px;
    width: 125px;
    height: 100px;
    animation: upto 0.5s infinite;
    span {
        display: none;
    }
    @media (max-width: 1200px) {
        // top: -14%;
        top: -2%;
    }
}

.fix-icon-top {
    // .top,
    // .top:hover {
    //     background-image: url('../images/topwebktnt3.jpg');
    //     background-repeat: no-repeat
    // }
    #top {
        // position: absolute;
        position: fixed;
        top: 50%;
        right: 0%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        // top: 430px;
        // left: 900px;
        background: url("../images/icons/kt-toppage-sub.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 95px;
        overflow: hidden;
        text-indent: -999em;
        width: 133px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
            background-position: 0 -95px
        }
        @include breakpoint(xl){
            top: 80%;
            right: 20%;
            -webkit-transform: translateY(-80%);
            -ms-transform: translateY(-80%);
            transform: translateY(-80%);
        }
    }
}