body {
    // font-size: $font-size-base;
    @include fontBase();
    line-height: 1.4;
    font-weight: 400;
    color: $clr-text;
    font-size: 16px;
    padding: 0;
    margin: 0;
    // min-height: 100vh;
    width: 100%;
    // max-width: 100vw;
    overflow-x: hidden;
    @include scrollbarbody();

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

img {
    display: block;
    height: auto;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

p {
    margin: 0 0 10px;
}

%list-type {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

b,
strong {
    font-weight: 700;
}

* {
    line-height: normal;
}

* {
    min-height: 0;
}

// .overflowy {
//     overflow-y: hidden;
// }

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint(sm) {
        // max-width: 540px;
        width: 100%;
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    @include breakpoint(md) {
        width: 100%;
        max-width: 100%;
    }

    @include breakpoint(lg) {
        width: 100%;
        max-width: 100%;
    }

    @include breakpoint(xl) {
        max-width: 1140px;
    }

    @include breakpoint(xxl) {
        // max-width: 1540px;
        max-width: 1200px;
    }
}

.wrapper {
    overflow: hidden;
}

a {
    color: $clr-link;

    &:hover,
    &:focus {
        color: $clr-link-hover;
        text-decoration: none;
    }
}

.a-link {
    color: $clr-white;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        color: $clr-white;
        text-decoration: none;
    }
}

.a-link-2 {
    color: #00263F;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        color: #00263F;
        text-decoration: underline;
        font-weight: bold;
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div#popup-social-home {
    display: none !important;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.center {
        justify-content: center;
    }
}
@font-face {
    font-family: 'Courier New', arial;
    font-style: normal;
    font-weight: 400;
    src: 
        url(../fonts/courier-new.woff) format('woff'),
        url(../fonts/courier-new.ttf) format('truetype');
}