.main-wrap {
    margin: 0 auto;
    position: relative;
    width: 100%;
    @include breakpoint(xl) {
        width: 1200px;
    }
}

.wrapper-out .wrapper {
    /* background: url('../images/images-page-header.jpg') no-repeat center top */
    // background: url('../images/sub-page/docomo.png') top center no-repeat
}

body {
    // width: 100%;
    // min-width: 1200px;
    background: #be6933;
    &.subpage {
        background: #172242;
        @include scrollbarbody2();
    }
}

.wrapper {
    background: url(../images/banner/wbg.png) no-repeat center top;
    // overflow: hidden;
    position: relative;
    // background-size: cover;
    padding-top: 100px;
    @include breakpoint(xl){
        padding-top: 0px;
    }
}

.section {
    position: relative;
}

.content-wapper {
    width: 100%;
    height: 2451px;
    background: url(../images/banner/cont.png) no-repeat left top;
    // padding-left: 64px;
}

.newsbox {
    width: 100%;
    // height: 100%;
    background: url(../images/banner/juznz.png) no-repeat;
    // padding: 25px 56px 0;
    height: 565px;
    background-size: 100%;
    // position: relative;
    position: relative;
    @include breakpoint(xl) {
        width: 1213px;
        position: relative;
        // padding: 100px 66px 0;
        // padding: 100px 66px 0;
    }
}

.max-height-news {
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar();
    // @include breakpoint(xl){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    @media (max-width: 1200px) {
        max-height: 250px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    // }
}

.section-3 {
    padding: 6% 24px 0 24px;
    @include breakpoint(xl) {
        padding: 0;
        padding-top: 24%;
    }
}

.top {
    clear: both;
    background-position: 0 -2944px;
    height: 30px;
    width: 35px;
    // margin: 0 auto;
    right: 20%!important;
    left: auto!important;
    &:hover {
        background-position: 0 -2914px;
        height: 30px;
        width: 35px
    }
}

.top#scrolltop {
    position: absolute;
}

// .main-content__title {
// 	#breadcrumb {
// 		background: url('../images/sub-page/icon-breadcrumb.png') no-repeat 0 15px;
// 		padding-left: 18px;
// 		li {
// 			display: inline-block;
// 			color: #fff;
//             padding: 0 10px;
// 			a {
// 				color: #fff;
// 				text-decoration: none;
// 				&:hover {
// 					color: #fff;
// 					text-decoration: underline;
// 				}
// 			}
// 			&:last-child {
// 				font-weight: bold;
// 				color: #fff;
// 			}
// 		}
// 		li.active {
// 			font-weight: bold;
// 			color: #fff;
// 		}
// 	}
// }