/*------------------------------------------------------------------
[Footer]
*/

.nav_right {
    display: block;
    position: fixed;
    z-index: 999;
    right: -202px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 235px;
    height: 350px;
    background-image: url(../images/icons/sprite.png);
    background-position: 0 0px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    ul.buttai {
        width: 160px;
        height: auto;
        position: relative;
        margin: 80px 0 0 39px;
        li {
            float: left;
            margin: 15px 0 0 0;
        }
        .app-info__install--pc {
            >a {
                display: block;
                text-indent: -9999px;
                height: 50px;
                width: 150px;
            }
        }
    }
    .gift_code {
        position: relative;
        width: 160px;
        height: 82px;
        animation: anim2 3s ease-in-out infinite alternate;
        display: block;
        background: url("../images/icons/text-hd.png")no-repeat bottom;
        top: 130px;
        left: 36px;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: url("../images/icons/text-hd.png")no-repeat bottom;
            opacity: 0;
        }
        &:hover {
            &:after {
                animation: anim4 0.6s ease-in-out;
            }
        }
    }
    .i_control {
        width: 28px;
        height: 85px;
        background: url(../images/icons/i_close_nav_right.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        top: 100px;
        left: -3px;
        cursor: pointer;
    }
    .i_control.i_control_active {
        left: -3px;
        background: url(../images/icons/i_open_nav_right.png) no-repeat center center;
    }
}

.nav_right.open {
    right: 0;
}

.button-fanpage {
    a {
        background-image: url("../images/icons/sprite.png") !important;
        background-position: -235px 0 !important;
    }
    &:hover {
        a {
            background-image: url("../images/icons/sprite.png") !important;
            background-position: -235px -50px !important;
        }
    }
}

.button-group {
    a {
        background-image: url("../images/icons/sprite.png") !important;
        background-position: -235px -100px !important;
    }
    &:hover {
        a {
            background-image: url("../images/icons/sprite.png") !important;
            background-position: -235px -150px !important;
        }
    }
}

@media (max-width: 1024px) {
    .nav_right {
        display: none;
    }
}

.footer-site {
    position: absolute;
    left: 25%;
    bottom: 80px;
    color: #fff;
    color: $clr-white;
    @include breakpoint(xl) {
        transform: translateX(-50%);
        width: 100%;
        left: 50%;
        bottom: 100px;
        padding-left: 45px;
    }
    .a-link {
        text-decoration: underline;
    }
}

.footer-site-page {
    background: url(../images/banner/page-footer.jpg) no-repeat center bottom;
}

.section--footer {
    background-color: #172242;
    width: 100%;
    padding: 32px 0;
    .clr-white {
        color: #aeacaa;
        line-height: 32px;
    }
}

.logo-footer {
    margin-right: 24px;
    max-width: 250px;
    flex: 0 0 250px;
    img {
        max-width: 250px;
        margin: 0 auto;
        display: inline-block;
    }
}

// .footer-site{
//     .d-flex{
//         display: block!important;
//         @include breakpoint(xl){
//             display: flex!important;
//         }
//     }
// }