//menu
.nav-top {
    width: 100%;
    // height: 60px;
    position: relative;
    background: url(../images/banner/navtop.jpg);
    // transition: 0.3s opacity ease-in-out;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    &.bg-nav-1 {
        // background: url(../images/banner/navtop2.jpg);
        background: #ae4800;
    }
    // &.fixed {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 999;
    // }
    .main-mobile {
        display: none;
        position: relative;
        z-index: 2;
        li{
            &:first-child{
                margin-right: auto;
                margin-left: 16px;
                max-width: 250px;
                flex: 0 0 250px;
            }
        }
        a {
            display: block;
        }
        .gamename {
            height: 100%;
            padding: 21px 17px;
            align-items: flex-start;
            span {
                color: #c9c9c9;
                font-size: 23px;
            }
            span.bold {
                font-weight: bold;
            }
        }
        // .right {
        //     margin-right: 0;
        //     margin-left: auto;
        // }
        // .app-icon-mb {
        // 	background-image: url(../images/icons/_sprites-aside.png);
        // 	background-position: 0px 0px;
        // 	background: url(../images/logo.png) no-repeat center;
        // 	width: 130px;
        // 	height: 130px;
        // 	margin-left: 16px;
        // 	margin-top: 68px;
        // }
        .logo {
            // flex: 0 0 260px;
            max-width: 250px;
            img {
                // max-width: 100%;
                // max-width: 250px;
                max-width: 100%;
                width: 100%;
                height: 100%;
                margin-top: 50px;
                display: inline-block;
            }
        }
        .home-mb {
            background-image: url(../images/icons/_sprites-aside.png);
            background-position: -325px -100px;
            width: 60px;
            height: 60px;
            margin-left: 20px;
        }
        .fb-mb {
            background-image: url(../images/icons/_sprites-aside.png);
            background-position: -265px -100px;
            width: 60px;
            height: 60px;
            margin-left: 20px;
        }
        .napthe-mb {
            background-image: url(../images/icons/_sprites-aside.png);
            background-position: 0px -130px;
            width: 121px;
            height: 60px;
            margin-left: 20px;
        }
        .dangky-mb {
            background-image: url(../images/icons/_sprites-aside.png);
            background-position: -121px -130px;
            width: 120px;
            height: 60px;
            margin-left: 20px;
        }
        .open-menu {
            background-image: url(../images/icons/_sprites-f2.png);
            background-position: -100px -496px;
            width: 100px;
            height: 100px;
            margin-left: 25px;
        }
        .open-menu.toClose {
            background-image: url(../images/icons/_sprites-f2.png);
            background-position: 0px -496px;
            width: 100px;
            height: 100px;
        }
    }
    .menu {
        width: 1000px;
        height: 100%;
        margin: auto;
        min-height: 60px;
        line-height: 60px;
        a {
            color: #ffffff;
            font-size: 20px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 10px;
                background: #ffffff;
                right: -41px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover {
                color: #ffdfa2;
            }
        }
        a.active {
            color: #ffdfa2;
        }
        li {
            &:last-child {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.nav-top.hide {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 1200px) {
    .nav-top {
        background: url(../images/banner/navtop-mb.jpg);
        height: 100px;
        &.bg-nav-1 {
            background: #ae4800;
        }
        .main-mobile {
            width: 100%;
            height: 100%;
            display: flex;
        }
        .menu {
            transition: 0.5s transform ease-in-out;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: none;
            height: fit-content;
            background-color: #222d4d;
            transform-origin: left;
            transform: translateX(-100%);
            position: relative;
            z-index: 1;
            li {
                width: 80%;
                border-bottom: 1px solid #46588d;
                a {
                    height: 100px;
                    font-size: 32px;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .menu.active {
            transform: translateX(0%);
            pointer-events: unset;
        }
    }
}

#breadcrumb {
    background: transparent;
    align-items: center;
    li {
        display: inline-block;
        // color: $clr-grey;
        color: $clr-text;
        font-weight: 400;
        font-size: 16px;
        padding: 0 10px 0 0;
        @include breakpoint(md) {
            font-size: 20px;
        }
        a {
            color: $clr-text;
            text-decoration: none;
            font-weight: 400;
            &:hover {
                color: $clr-link-hover;
                text-decoration: underline;
                font-weight: 600;
            }
        }
        &:last-child {
            font-weight: bold;
            color: $clr-text;
            font-weight: 600;
        }
    }
    li.active {
        font-weight: bold;
        color: $clr-text;
        span {
            font-weight: bold;
            color: #000;
        }
    }
}