// .main__content {
//     height: fit-content;
//     min-height: 500px;
//     background: url(../images/banner/baner-page.jpg) repeat-y center;
// }
.main__content {
    // width: 100%;
    // background: url(../images/banner/bg-page-2.jpg) no-repeat center top #fff;
    // background: url(../images/banner/bg-subpage.png)no-repeat center top #fff;
    // display: block;
    // overflow: hidden;
}

.page-header {
    height: 445px;
    // width: 1200px;
    margin: 0 auto;
    position: relative;
}

// .main-page-single {
//     @media (min-width: 1921px) {
//         margin-top: -130px;
//     }
// }

// .title-sub {
//     padding-top: 20px;
// }
.sub {
    .posts__tab-2 {
        width: 100%;
        // background-color: #122646;
        background-color: #122646;
        // height: 41px;
        height: 50px;
        border-radius: 25px;
        margin-bottom: 10px;
        a {
            width: 210px;
            height: 50px;
            // color: #c6c1b5;
            color: #8295a3;
            font-size: 26px;
            @include breakpoint(lg) {
                font-size: 21px;
            }
            &:hover {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -533px -311px;
                width: 210px;
                height: 48px;
                color: $clr-white;
            }
        }
        a.active {
            background-image: url(../images/icons/_sprites-f4.png);
            background-position: -533px -311px;
            width: 210px;
            height: 48px;
            color: $clr-white;
        }
    }
    .posts__list {
        // padding-top: 30px;
        li {
            position: relative;
            padding-bottom: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #3f5577;
            width: 100%;
            // &:last-child {
            //     border-bottom: 0;
            // }
            a {
                // color: #9fdbe9;
                color: #dcdcdc;
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover {
                    // color: $clr-link-hover;
                    color: #ffd259;
                }
                
                .posts__post-date {
                    color: #8295a3;
                    position: absolute;
                    top: 5px;
                    right: 0;
                }
            }
        }
    }
    .posts__list.event-posts {
        li {
            padding: 15px 0 20px;
            height: auto;
            float: left;
            a {
                line-height: 22px;
                float: left;
                &:hover {
                    img {
                        border: 1px solid #c82f00;
                    }
                    .posts__post-title {
                        text-decoration: underline;
                    }
                }
                span {
                    width: 445px;
                }
                img {
                    border: 1px solid #916d48;
                    margin-right: 20px;
                    margin-top: 5px;
                    float: left;
                    width: 140px;
                    height: 80px;
                }
                .posts__post-title {
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .posts__post-date {
                    float: left;
                    color: #2c221b;
                }
                .posts__post-intro {
                    float: left;
                    color: #2c221b;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .sub {
        .posts__tab-2 {
            height: 60px;
            width: 100%;
            border-radius: 30px;
            a {
                width: 165px;
                height: 60px;
                font-size: 26px;
                &:hover {
                    background-image: url(../images/icons/_sprites-f4.png);
                    background-position: -533px -360px;
                    width: 165px;
                    height: 60px;
                    font-size: 26px;
                }
            }
            a.active {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -533px -360px;
                width: 165px;
                height: 60px;
                font-size: 26px;
            }
        }
    }
}
.posts__post-cate {
    width: 140px;
    height: 30px;
    font-size: 16px;
    padding: 7px;
    text-align: center;
    background-color: #314271;
    display: block;
    border-radius: 16px;
    color: #c0cbd3;
    font-weight: bold;
    margin-right: 20px;
}
.article__title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin: 0 auto 30px;
    color: #af4d51;
    position: relative;
    color: #f5e7c4;
    font-family: 'Playfair Display SC', serif;
    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #dcdcdc;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 30px / 2);
    }
    @include breakpoint(lg) {
        font-size: 40px;
    }
}

.sub {
    .posts__post-title {
        // color: #9fdbe9;
        // margin-top: 15px;
        // margin-bottom: 10px;
        color: #dcdcdc;
        font-size: 26px;
        font-weight: bold;
        text-transform: capitalize;
        &:hover {
            color: #ffd259;
        }
        @include breakpoint(lg) {
            font-size: 18px;
        }
        @include breakpoint(xl) {
            font-size: 20px;
        }
    }
}

.article__time {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    color: #dcdcdc;
    font-size: 20px;
    @include breakpoint(lg) {
        font-size: 16px;
    }
}

//page
.wrapper-page {
    margin: 0 auto;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    .container {
        max-width: 1200px;
        position: relative;
        margin: 0 auto;
    }
}

.center-align {
    margin: 0 auto;
}

.frame2 {
    background: url(../images/banner/bg-page.jpg) top left no-repeat;
    min-height: 780px;
    background-size: cover;
}

.f2-letter-content {
    width: 78%;
    position: absolute;
    max-height: 600px;
    overflow-x: hidden;
    // overflow-y: auto;
    margin: 5% 12% 0 10%;
    color: #f5e7c4;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    .posts__list {
        overflow-x: hidden;
        max-height: 300px;
        overflow-y: auto;
        @include scrollbar();
    }
}

.f2-content {
    position: absolute;
    top: 40px;
    z-index: 1;
    width: 100%;
}

.f2-title {
    margin: 40px auto 20px auto;
    @include breakpoint(xl) {
        margin: 2% auto;
    }
}

.f2-letter {
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    margin: 20% 0 0 0;
    z-index: 6;
}

.f2-letter-content p {
    padding: 5px 0 5px 0;
}

@media only screen and (max-width: 912px) {
    .f2-letter-content {
        max-height: 840px;
        margin: 10% 12% 0 10%;
        font-size: 20px;
        line-height: 30px;
    }
    .f2-letter-content p {
        padding: 10px 0 10px 0;
    }
}

@media only screen and (max-width: 820px) {
    .f2-letter-content {
        max-height: 780px;
    }
}

@media only screen and (max-width: 768px) {
    .f2-letter-content {
        max-height: 720px;
    }
}

@media only screen and (max-width: 600px) {
    .f2-letter-content {
        width: 82%;
        max-height: 570px;
        margin: 10% 10% 0 8%;
        font-size: 16px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 540px) {
    .f2-letter-content {
        width: 82%;
        max-height: 510px;
        margin: 10% 10% 0 8%;
        font-size: 14px;
        line-height: 23px;
    }
    .f2-letter-content p {
        padding: 5px 0 5px 0;
    }
}

@media only screen and (max-width: 480px) {
    .f2-letter-content {
        max-height: 460px;
        font-size: 12px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 451px) {
    .f2-letter-content {
        max-height: 440px;
        font-size: 12px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 428px) {
    .f2-letter-content {
        width: 83%;
        margin: 9% 9% 0 8%;
        max-height: 410px;
        font-size: 11px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 391px) {
    .f2-letter-content {
        margin: 8% 9% 0 8%;
        max-height: 370px;
        font-size: 11px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 320px) {
    .f2-letter-content {
        max-height: 310px;
        font-size: 10px;
        line-height: 15px;
    }
}

.icon-house {
    background: url(../images/icons/icon-house.svg) no-repeat center;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}