// .main-page-single {
//     background: url(../images/banner/bg-sub.jpg) center 0;
//     @include breakpoint(lg) {
//         width: 100%;
//         min-height: 800px;
//         margin: 0 auto;
//         background-image: url(../images/banner/bg-main-sub.jpg);
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
// }
.main-page-single {}

.title_news {
    text-align: center;
    margin: 23px auto;
    padding-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-page {
    // background-color: #172242;
    @include breakpoint(xl) {
        // height: calc(100vh - 60px);
        padding-top: 60px;
        display: block;
        height: 1000px;
    }
    @media (max-width: 1200px) {
        height: 10px;
        background-color: #172242;
        display: none;
    }
    .logo {
        position: absolute;
        left: 20%;
        top: 15%;
        background-position: 0px 0px;
        max-width: 400px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
}

// .placeholder-top {
//     height: 62px;
// }
.desktop {
    display: flex;
}

.section__background {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    @media (max-width: 1200px) {
        display: none;
    }

}

.section--content {
    // min-height: 500px;
    min-height: calc(100vh - 100px - 200px);
    background-color: #172242;
    padding-top: 110px;
    // background: url(../images/banner/bgsub.jpg) repeat-y center;
    // background-size: 100%;
    background-color: #172242;
    @include breakpoint(xl) {
        height: fit-content;
        min-height: 800px;
        // background: url(../images/banner/bg-menu.png) no-repeat top;
        // background: url(../images/banner/bgsub.jpg) repeat-y center;
        height: fit-content;
        padding-top: 0px;
    }
    .main {
        max-width: 1200px;
        margin: auto;
        // margin-top: -400px;
        transform: translateY(-350px);
       
        @media (max-width: 1200px) {
            max-width: 98%;
            margin: auto;
            margin-top: 10px;
            transform: unset;
        }
    }
    .title-sub {
        margin-bottom: 50px;
    }
    .article {
        height: max-content;
    }
}
.section__background-2{
    // display: block;
    // position: absolute;
    // top: 0px;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // z-index: -1;
    // transform: translateY(-350px);
    position: absolute;
    z-index: -1;
    left: calc(-1 * (1434px - 1200px) / 2);
    top: 0;
    width: 1434px;
    img {
    }
    @media (max-width: 1200px) {
        display: none;
    }
}
.main__content {
    position: relative;
    // padding: 65px 25px 50px;
    padding: 25px 25px 100px;
    color: #dcdcdc;
    font-size: 24px;
    line-height: 30px;
    // background: #172e57;
    @include breakpoint(xl) {
        // background: #172e57 url(../images/banner/bg-menu.png) no-repeat top;
        // background-size: auto;
        // padding: 35px 60px 60px 60px;
        font-size: 18px;
        padding: 25px 100px 50px;
        // background: #172e57;
    }
    @include breakpoint(xxl) {
        font-size: 18px;
        line-height: 24px;
        // padding: 0px 100px 50px;
    }
}

.title-sub-top {
    margin-bottom: 40px;
}
.has-text-align-center{
    text-align: center;
}
table {
    max-width: 90%;
    margin: 20px auto 30px;
    width: 100%;
    // tr:nth-child(odd),
    // tr:nth-child(odd),
    // tr:nth-child(odd) {
    //     background: rgba(48, 62, 104, 0.6);
    // }
    &.table-detail{
        tr {
            background:#cfcfcf;
            &:first-child {
                background: #cfcfcf;
            }
            
            td {
                border: 1px solid #BBBBBB;
                color: #212529;
                text-align: center;
            }
            a {
                color: #212529;
                
            }
            
        }
    
    }
    p {
        font-size: 18px;
        line-height: 28px;
        width: 100%;
    }
    tr {
        background: rgba(48, 62, 104, 0.6);
        &:first-child {
            background: #487496;
        }
        th {
            color: #fff;
            font-size: 17px;
            background: #487496;
            text-align: center;
            border: 1px solid #5a86a8;
            padding: 10px 15px;
        }
        td {
            font-size: 17px;
            padding: 10px;
            border: 1px solid #465580;
            color: #dcdcdc;
            text-align: center;
        }
        a {
            color: #dcdcdc;
            text-decoration: underline;
            &:hover {
                color: $clr-link-hover;
            }
        }

        img{
            margin: 0 auto;
            display: initial;
        
        }
    }
}


.article__detail {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Courier New', arial;
    @include breakpoint(xl) {
        font-size: 18px;
        line-height: 24px;
    }
    table{
        a {
            color: #dcdcdc;
            text-decoration: underline;
            // font-family: 'Courier New', arial;
            &:hover {
                color: $clr-link-hover;
            }
        }
    }
    p{
        margin: 10px 0;
    }
    
    p a {
        font-size: 24px;
        font-family: 'Courier New', arial;
        @include breakpoint(xl) {
            font-size: 18px;
        }
    }
    img{
        margin: 0 auto;
    }
}