.section-2 {
    padding-top: 4%;
    padding-bottom: 100px;
    @include breakpoint(lg) {
        padding-top: 12%;
    }
    .content-news {
        margin: 0px auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakpoint(xl) {
            width: 1130px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: unset;
        }
        .posts {
            position: relative;
            width: fit-content;
            @media (max-width: 1200px) {
                // background: #95450cd1;
                // padding: 10px 24px;
                // border-radius: 15px;
                padding: 0 24px;
                width: 100%;
            }
        }
        .posts__view {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/icons/_sprites-f3.png);
            background-position: 0px 0px;
            width: 672px;
            height: 95px;
            top: 108%;
            
            &:hover {
                filter: brightness(1.2);
            }
            @include breakpoint(xl) {
                right: 115px;
                left: auto;
                background-image: url(../images/icons/_sprites-f3.png);
                background-position: -598px -180px;
                width: 30px;
                height: 30px;
                top: 0;
                transform: none;
            }

        }
        .posts__tab {
            height: 60px;
            width: 100%;
            border-radius: 30px;
            // background-color: #671e1db8;
            background-color: #671e1d;
            margin-bottom: 10px;
            @include breakpoint(xl) {
                width: 400px;
                background-color: #671e1d;
                height: 30px;
                border-radius: 15px;
            }
            a {
                width: 165px;
                height: 60px;
                font-size: 26px;
                color: #c6c1b5;
                &:hover {
                    background-image: url(../images/icons/_sprites-f4.png);
                    background-position: -533px -360px;
                    width: 165px;
                    height: 60px;
                }
                @include breakpoint(xl) {
                    width: 120px;
                    height: 30px;
                    font-size: 18px;
                    &:hover {
                        background-image: url(../images/icons/_sprites-f4.png);
                        background-position: -533px -420px;
                        width: 120px;
                        height: 30px;
                        color: $clr-white;
                    }
                }
            }
            a.active {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -533px -360px;
                width: 165px;
                height: 60px;
                color: $clr-white;
                @include breakpoint(xl) {
                    background-image: url(../images/icons/_sprites-f4.png);
                    background-position: -533px -420px;
                    width: 120px;
                    height: 30px;
                }
            }
        }
        .posts__list {
            width: 100%;
            @include breakpoint(xl) {
                width: 560px;
            }
            li {
                // border-bottom: 1px solid rgba(255, 237, 189, 0.2);
                border-bottom: 1px solid $clr-text;
                padding: 10px 0;
                &:last-child {
                    border-bottom: none;
                }
                @include breakpoint(xl) {
                    border-bottom: 1px solid $clr-white;
                }
            }
            .posts__post-title {
                // color: #dbdbdb;
                font-size: 26px;
                padding-left: 20px;
                // height: 42px;
                position: relative;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $clr-black;
                font-weight: 500;
                @include breakpoint(lg) {
                    font-size: 16px;
                    // font-weight: 500;
                }
                @include breakpoint(xl) {
                    font-size: 18px;
                    color: $clr-white;
                }
                &::before {
                    content: "";
                    background-image: url(../images/icons/_sprites-f4.png);
                    background-position: -705px -167px;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @media (max-width: 1200px) {
                        background-color: $clr-grey;
                        border-radius: 5px;
                    }
                    
                }
                &:hover {
                    color: #ffd259;
                    &::before {
                        background-image: url(../images/icons/_sprites-f4.png);
                        background-position: -693px -167px;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        .posts__search {
            position: relative;
            margin-top: 10px;
            .search-input {
                padding: 0 20px;
                width: 100%;
                background-color: #671e1d;
                height: 40px;
                border-radius: 20px;
                border: 1px solid #ae684a;
                color: white;
                font-size: 18px;
                &::placeholder {
                    color: #935858;
                }
            }
            .btn-search {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -693px -130px;
                width: 26px;
                height: 26px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                color: transparent;
                background-color: transparent;
                border: none;
                cursor: pointer;
                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
    .bg-top {
        position: absolute;
        top: -49px;
        left: 0;
    }
    .bg-bot {
        position: absolute;
        bottom: -44px;
        left: 0;
        @include breakpoint(lg) {
            bottom: -64px;
        }
    }
}

//dot
.banner {
    width: 100%;
    @include breakpoint(xl) {
        width: 565px;
    }
    .banner-swiper {
        width: 100%;
        margin-bottom: 40px;
        @include breakpoint(xl) {
            width: 565px;
        }
        .banner-frame {
            // width: 522px;
            // height: 300px;
            width: 100%;
            height: 500px;
            margin: 0 auto;
            display: block;
            background-color: rgba(255, 237, 189, 0.2);
            justify-content: center;
            img {
                height: 100%;
                width: 100%;
                padding: 0 24px;
            }
            @include breakpoint(xl) {
                width: 522px;
                height: 300px;
                margin: 0 auto;
                background-color: rgba(255, 237, 189, 0.2);
                display: flex;
                img {
                    width: 495px;
                    height: 290px;
                    padding: 0;
                }
            }
        }
        .swiper-pagination {
            text-align: left;
            width: 100%;
            position: absolute;
            left: 10%;
            bottom: 8px;
            z-index: 2;
            .swiper-pagination-bullet {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -739px -130px;
                width: 20px;
                height: 20px;
                opacity: 1;
                background-color: transparent;
                display: inline-block;
            }
            .swiper-pagination-bullet-active {
                background-image: url(../images/icons/_sprites-f4.png);
                background-position: -719px -130px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

// slider
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .swiper-notification {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        opacity: 0;
        z-index: -1000;
    }
}

.swiper-container-no-flexbox {
    .swiper-slide {
        float: left;
    }
}

.swiper-container-vertical {
    >.swiper-wrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-android {
    .swiper-slide {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}

.swiper-container-multirow {
    >.swiper-wrapper {
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.swiper-container-free-mode {
    >.swiper-wrapper {
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        margin: 0 auto;
    }
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    @media (max-width: 1200px) {
        width: 100%!important;
    }
}

.swiper-container-autoheight {
    height: auto;
    .swiper-slide {
        height: auto;
    }
    .swiper-wrapper {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-transition-property: -webkit-transform, height;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform, height;
    }
}

.block-list-function {
    background-color: transparent;
    padding: 16px;
    border-radius: 10px;
    max-width: 280px;
    margin: 0 auto;
    ul {
        li {
            // border-bottom: 1px solid rgba(255, 237, 189, 0.2);
            padding: 10px 0 10px 5px;
            border-bottom: 1px dashed #baa67b;
            position: relative;
            text-align: center;
            &:last-child {
                border-bottom: none;
            }
            a {
                color: #5c4926;
                font-size: 24px;
                text-transform: capitalize;
                font-weight: 600;
                text-align: center;
                @include breakpoint(lg) {
                    font-size: 20px;
                }
                br {
                    display: none;
                }
                // &::before {
                // 	content: "";
                // 	background-image: url(../images/icons/_sprites-f4.png);
                // 	background-position: -705px -167px;
                // 	width: 12px;
                // 	height: 12px;
                // 	position: absolute;
                // 	left: 0;
                // 	top: 50%;
                // 	transform: translateY(-50%);
                // 	background-color: #baa67b;
                // }
                &:hover {
                    color: red;
                    &::before {
                        background-image: url(../images/icons/_sprites-f4.png);
                        background-position: -693px -167px;
                        width: 12px;
                        height: 12px;
                        background-color: red;
                    }
                }
            }
        }
    }
}