.text-underline {
    text-decoration: underline;
}

// .font-title {
//     @include fontTitle();
// }

// .font-title-3 {
//     @include fontBase2();
// }

// .font-title-2 {
//     @include fontTitle2();
// }

.clr-title-1 {
    color: $clr-title-1;
}

.clr-desc {
    color: $clr-desc;
}

.clr-strong {
    color: $clr-strong;
}

.clr-title-2 {
    color: $clr-1;
}

.clr-text {
    color: $clr-text;
}

.font-bold {
    font-weight: bold;
}

.clr-white {
    color: $clr-white;
}

.fz-100 {
    font-size: 100%!important;
}
.hidden {
    display: none;
}
.show{
    display: block;
}
.fz-18{
    font-size: 22px;
    @include breakpoint(lg){
        font-size: 18px;
    }
}
.fz-16{
    font-size: 20px;
    @include breakpoint(lg){
        font-size: 16px;
    }
}
.box_sizing_border_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pull-right {
    float: right !important
}

.relative-content {
    position: relative;
}

.p-a {
    position: absolute;
}

.img-full {
    width: 100%;
    height: auto;
}
.title-detail {
    margin: 0 auto;
    h1{
        color: #f0ebea;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        @include breakpoint(md){
            font-size: 40px;
            margin-top: 32px;
        }
    }
	
}
.order-top{
    order: -1;
}
.clr-h1{
    color: #296052;
    margin: 0;
    font-weight: bold;
    padding: 0 20px;
    font-size: 24px;
    @include breakpoint(lg){
        // color: $clr-white;
        font-size: 36px;
        color: $clr-red;
    }
}
.StaticMain{
    figure{
        img{
            margin: 10px auto;
        }
    }
}
.img-titile{
    margin: 20px auto 20px;
}
