//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Extra small screen / phone
//** Deprecated `Extra small` as of 4.0
$screen-xs: 575px;
//** Deprecated `Small` as of 4.0
$screen-sm: 576px;
//** Deprecated `Medium` as of 4.0
$screen-md: 768px;
//** Deprecated `Large` as of 4.0
$screen-lg: 992px;
//** Deprecated `Extra large` as of 4.0
$screen-xl: 1200px;
//** Deprecated `Extra extra large` as of 4.0
$screen-xxl: 1600px;
// $font-size-base: 16px;
$font-size-base: 15px;
$clr-white: #fff;
$clr-black: #000;
$clr-text: #505050;
$clr-link: #104773;
$clr-link-hover: #e83b30;
$clr-link-header-hover: #1DCDD9;
$clr-1: #e83b30;
$clr-2: #104773;
// $clr-3: #2b2b2b;
// $clr-4: #111;
// $clr-5: #fcfaf9;
$clr-title-1:#00263F;
$clr-grey:#989AA5;
$clr-desc:#24323d;
$bg-1:#e7fcfc;
$clr-strong:#ff352a;
$clr-number:#0a2e5c;
$clr-red:#A32236;
$bg-1:#00263F;
$bg-2:#E8E8E8;
$bg-3:#E9E9E9;
$clr-btn:#00BED6;