#thewindowbackground {
    background-color: #000;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: 990;
    width: auto;
    position: absolute;
    display: none;
    filter: alpha(opacity=80)
}
#ad_zone_TV {
    z-index: 1000
}
#bannerPopup {
    margin: auto;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #000
}
#btClose {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    cursor: pointer
}
a#btClose:link,
a#btClose:visited {
    background: url(../images/images-popup-close.png) no-repeat;
    width: 71px;
    height: 32px;
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-indent: -9999px
}
a#btClose:hover {
    background-position: 0 -32px
}
a#btCloseBottom:link,
a#btCloseBottom:visited {
    background: #000;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: -3px;
    right: -2px;
    color: #fff;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    font-weight: bold
}
#bannerPopupBottom {
    width: 300px!important;
    height: 126px!important;
    z-index: 1000!important;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
    overflow: hidden;
    padding-top: 26px;
    border: 0!important
}
#bannerPopupBottom img {
    border: 1px solid #999
}
#btCloseBottom {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 991;
    cursor: pointer
}
#boxFlashAds {
    height: 1px;
    width: 1px;
    overflow: hidden;
    left: -9999em;
    top: -9999em
}
.fixedBanner {
    position: fixed!important
}
form.CheckClose {
    display: block;
    float: left;
    color: #9e9e9e;
    font-size: 11px;
    white-space: nowrap
}
#bannerPopup .OptionClose {
    background: url(../images/images-bg-check.png) no-repeat;
    display: block;
    height: 30px;
    width: 345px;
    float: right;
    padding-top: 3px
}
a.PopupBtnClose:link,
a.PopupBtnClose:visited {
    background: url(../images/images-popup-new-cookie-close.gif) no-repeat;
    width: 51px;
    height: 16px;
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-indent: -9999px;
    float: right;
    margin: 4px 5px 0 0
}
a.PopupBtnClose:hover {
    background-position: 0 -16px
}
.PopupBG {
    background: #000
}
#bannerPopup img {
    padding: 32px 0 0 5px
}
#bannerPopup embed {
    margin: 32px 0 0 5px
}
ul.Disc li {
    list-style-type: disc;
    margin-bottom: 0;
    padding: 0 0 0 5px;
    text-align: justify
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.fancybox-opened {
    z-index: 99999
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}
.fancybox-outer,
.fancybox-inner {
    position: relative
}
.fancybox-inner {
    overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}
.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('../images/fancybox-fancybox_sprite.png')
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../images/fancybox-fancybox_loading.gif') center center no-repeat
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../images/fancybox-blank.gif');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}
.fancybox-prev {
    left: 0
}
.fancybox-next {
    right: 0
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}
.fancybox-nav:hover span {
    visibility: visible
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important
}
.fancybox-lock {
    overflow: hidden!important;
    width: auto
}
.fancybox-lock body {
    overflow: hidden!important
}
.fancybox-lock-test {
    overflow-y: hidden!important
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 10000;
    background: url('../images/fancybox-fancybox_overlay.png')
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}
.fancybox-title {
    visibility: hidden;
    font: normal 15px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
    padding: 0 10px
}
.fancybox-title a {
    padding: 0 10px;
    font-size: 15px
}
.fancybox-opened .fancybox-title {
    visibility: visible
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}
.fancybox-title-inside-wrap {
    padding-top: 10px
}
.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}
h3.Title {
    display: none
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url('../images/fancybox-fancybox_sprite@2x.png');
        background-size: 44px 152px
    }
    #fancybox-loading div {
        background-image: url('../images/fancybox-fancybox_loading@2x.gif');
        background-size: 24px 24px
    }
}
#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050
}
#fancybox-thumbs.bottom {
    bottom: 2px
}
#fancybox-thumbs.top {
    top: 2px
}
#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}
#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: .5
}
#fancybox-thumbs ul li.active {
    opacity: .75;
    padding: 0;
    border: 1px solid #fff
}
#fancybox-thumbs ul li:hover {
    opacity: 1
}
#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: 0
}
#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none
}
.Rating {
    width: 150px;
    height: 90px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000
}
.MRating {
    width: 90px;
    height: 40px;
    display: none;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1000
}
@media screen and (max-width: 768px) {}@media screen and (max-width: 1025px) {
    .Rating_margintop {
        top: 170px
    }
}
.Rating_nph_0 {
    background: url(../images/images-nph-0.jpg) no-repeat
}
.Rating_nph_12 {
    background: url(../images/images-nph-12.jpg) no-repeat
}
.Rating_nph_18 {
    background: url(../images/images-nph-18.jpg) no-repeat
}
.Rating_vng_0 {
    background: url(../images/images-vng-0.jpg) no-repeat
}
.Rating_vng_12 {
    background: url(../images/images-vng-12.jpg) no-repeat
}
.Rating_vng_18 {
    background: url(../images/images-vng-18.jpg) no-repeat
}
.Rating_long-dinh_0 {
    background: url(../images/images-long-dinh-0.jpg) no-repeat
}
.Rating_long-dinh_12 {
    background: url(../images/images-long-dinh-12.jpg) no-repeat
}
.Rating_long-dinh_18 {
    background: url(../images/images-long-dinh-18.jpg) no-repeat
}
.Rating_minh-phuong-thinh_0 {
    background: url(../images/images-minh-phuong-thinh-0.jpg) no-repeat
}
.Rating_minh-phuong-thinh_12 {
    background: url(../images/images-minh-phuong-thinh-12.jpg) no-repeat
}
.Rating_minh-phuong-thinh_18 {
    background: url(../images/images-minh-phuong-thinh-18.jpg) no-repeat
}
.Rating_nguyen-bao_0 {
    background: url(../images/images-nguyen-bao-0.jpg) no-repeat
}
.Rating_nguyen-bao_12 {
    background: url(../images/images-nguyen-bao-12.jpg) no-repeat
}
.Rating_nguyen-bao_18 {
    background: url(../images/images-nguyen-bao-18.jpg) no-repeat
}
.Rating_bp_0 {
    background: url(../images/images-bp-0.jpg) no-repeat
}
.Rating_bp_12 {
    background: url(../images/images-bp-12.jpg) no-repeat
}
.Rating_bp_18 {
    background: url(../images/images-bp-18.jpg) no-repeat
}
.M_Rating_vng_0 {
    background: url(../images/images-m-vng-0.jpg) no-repeat
}
.M_Rating_vng_12 {
    background: url(../images/images-m-vng-12.jpg) no-repeat
}
.M_Rating_vng_18 {
    background: url(../images/images-m-vng-18.jpg) no-repeat
}
.M_Rating_long-dinh_0 {
    background: url(../images/images-m-long-dinh-0.jpg) no-repeat
}
.M_Rating_long-dinh_12 {
    background: url(../images/images-m-long-dinh-12.jpg) no-repeat
}
.M_Rating_long-dinh_18 {
    background: url(../images/images-m-long-dinh-18.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_0 {
    background: url(../images/images-m-minh-phuong-thinh-0.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_12 {
    background: url(../images/images-m-minh-phuong-thinh-12.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_18 {
    background: url(../images/images-m-minh-phuong-thinh-18.jpg) no-repeat
}
.M_Rating_nguyen-bao_0 {
    background: url(../images/images-m-nguyen-bao-0.jpg) no-repeat
}
.M_Rating_nguyen-bao_12 {
    background: url(../images/images-m-nguyen-bao-12.jpg) no-repeat
}
.M_Rating_nguyen-bao_18 {
    background: url(../images/images-m-nguyen-bao-18.jpg) no-repeat
}
.M_Rating_bp_0 {
    background: url(../images/images-m-bp-0.jpg) no-repeat
}
.M_Rating_bp_12 {
    background: url(../images/images-m-bp-12.jpg) no-repeat
}
.M_Rating_bp_18 {
    background: url(../images/images-m-bp-18.jpg) no-repeat
}
.M_Rating_nph_0 {
    background: url(../images/images-m-nph-0.jpg) no-repeat
}
.M_Rating_nph_12 {
    background: url(../images/images-m-nph-12.jpg) no-repeat
}
.M_Rating_nph_18 {
    background: url(../images/images-m-nph-18.jpg) no-repeat
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}
.swiper-container-no-flexbox .swiper-slide {
    float: left
}
.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0)
}
.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}
.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform, height
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url('../images/images-left.png');
    left: 0;
    right: auto
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url('../images/images-right.png');
    right: 0;
    left: auto
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}
.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}
button.swiper-pagination-bullet {
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}
.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #892c2e
}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}
.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}
.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    -moz-transform: translate3d(0px, -50%, 0);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0)
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}
.swiper-pagination-progress {
    background: rgba(0, 0, 0, 0.25);
    position: absolute
}
.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top
}
.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}
.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}
.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.5)
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}
.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}
.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}
.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}
.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}
.swiper-container-cube,
.swiper-container-flip {
    overflow: visible
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}
.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next+.swiper-slide {
    pointer-events: auto;
    visibility: visible
}
.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}
.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}
.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1)
}
.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}
.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}
.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0
}
.swiper-scrollbar-cursor-drag {
    cursor: move
}
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}
.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat
}
.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}
@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}
.swiper-container {
    width: 100%;
    height: 100%
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
.layout-sprite,
.layout-bt-gifcode-hov,
.layout-bt-gifcode,
.layout-bt-miniclient-hov,
.layout-bt-miniclient,
.layout-bt-sukien-hov,
.layout-bt-sukien,
.layout-bt-vipck-hov,
.layout-bt-vipck,
.layout-chon-may-chu-hov,
.layout-chon-may-chu-nor,
.layout-dang-nhap-hov,
.layout-dang-nhap-nor,
.layout-hotline,
.layout-left-nav-hov,
.layout-left-nav-nor,
.layout-main-nav__event-hov,
.layout-main-nav__event,
.layout-main-nav__feature-hov,
.layout-main-nav__feature,
.layout-main-nav__home-hov,
.layout-main-nav__home,
.layout-main-nav__hotline-hov,
.layout-main-nav__hotline,
.layout-main-nav__lib-hov,
.layout-main-nav__lib,
.layout-main-nav__social-hov,
.layout-main-nav__social,
.layout-search-bg,
.layout-search-hov,
.layout-search,
.layout-top-hov,
.layout-top,
.search__button,
.search__button:hover,
#main-nav ul>li>a.main-nav__event,
#main-nav ul>li>a.main-nav__event:hover,
#main-nav ul>li>a.main-nav__event.active,
#main-nav ul>li>a.main-nav__feature,
#main-nav ul>li>a.main-nav__feature:hover,
#main-nav ul>li>a.main-nav__feature.active,
#main-nav ul>li>a.main-nav__home,
#main-nav ul>li>a.main-nav__home:hover,
#main-nav ul>li>a.main-nav__home.active,
#main-nav ul>li>a.main-nav__lib,
#main-nav ul>li>a.main-nav__lib:hover,
#main-nav ul>li>a.main-nav__lib.active,
#main-nav ul>li>a.main-nav__hotline,
#main-nav ul>li>a.main-nav__hotline:hover,
#main-nav ul>li>a.main-nav__hotline.active,
#main-nav ul>li>a.main-nav__social,
#main-nav ul>li>a.main-nav__social:hover,
#main-nav ul>li>a.main-nav__social.active,
#left-nav ul>li a,
#left-nav ul>li a:hover,
#left-nav ul>li a.active,
#left-nav ul>li a.open,
.top,
.top:hover {
    /* background-image: url('../images/layout-s612ef06367.png'); */
	background-image: url('../images/topwebktnt3.jpg');
    background-repeat: no-repeat
}
.layout-bt-gifcode-hov {
    background-position: 0 0;
    height: 180px;
    width: 110px
}
.layout-bt-gifcode {
    background-position: 0 -180px;
    height: 180px;
    width: 110px
}
.layout-bt-miniclient-hov {
    background-position: 0 -360px;
    height: 180px;
    width: 110px
}
.layout-bt-miniclient {
    background-position: 0 -540px;
    height: 180px;
    width: 110px
}
.layout-bt-sukien-hov {
    background-position: 0 -720px;
    height: 180px;
    width: 110px
}
.layout-bt-sukien {
    background-position: 0 -900px;
    height: 180px;
    width: 110px
}
.layout-bt-vipck-hov {
    background-position: 0 -1080px;
    height: 180px;
    width: 110px
}
.layout-bt-vipck {
    background-position: 0 -1260px;
    height: 180px;
    width: 110px
}
.layout-chon-may-chu-hov {
    background-position: 0 -1440px;
    height: 70px;
    width: 80px
}
.layout-chon-may-chu-nor {
    background-position: 0 -1510px;
    height: 70px;
    width: 80px
}
.layout-dang-nhap-hov {
    background-position: 0 -1580px;
    height: 71px;
    width: 80px
}
.layout-dang-nhap-nor {
    background-position: 0 -1651px;
    height: 71px;
    width: 80px
}
.layout-hotline {
    background-position: 0 -1722px;
    height: 90px;
    width: 260px
}
.layout-left-nav-hov {
    background-position: 0 -1812px;
    height: 50px;
    width: 262px
}
.layout-left-nav-nor {
    background-position: 0 -1862px;
    height: 50px;
    width: 262px
}
.layout-main-nav__event-hov {
    background-position: 0 -1912px;
    height: 70px;
    width: 136px
}
.layout-main-nav__event {
    background-position: 0 -1982px;
    height: 70px;
    width: 136px
}
.layout-main-nav__feature-hov {
    background-position: 0 -2052px;
    height: 72px;
    width: 140px
}
.layout-main-nav__feature {
    background-position: 0 -2124px;
    height: 72px;
    width: 140px
}
.layout-main-nav__home-hov {
    background-position: 0 -2196px;
    height: 106px;
    width: 268px
}
.layout-main-nav__home {
    background-position: 0 -2302px;
    height: 106px;
    width: 268px
}
.layout-main-nav__hotline-hov {
    background-position: 0 -2408px;
    height: 71px;
    width: 160px
}
.layout-main-nav__hotline {
    background-position: 0 -2479px;
    height: 71px;
    width: 160px
}
.layout-main-nav__lib-hov {
    background-position: 0 -2550px;
    height: 71px;
    width: 140px
}
.layout-main-nav__lib {
    background-position: 0 -2621px;
    height: 71px;
    width: 140px
}
.layout-main-nav__social-hov {
    background-position: 0 -2692px;
    height: 71px;
    width: 139px
}
.layout-main-nav__social {
    background-position: 0 -2763px;
    height: 71px;
    width: 139px
}
.layout-search-bg {
    background-position: 0 -2834px;
    height: 30px;
    width: 260px
}
.layout-search-hov {
    background-position: 0 -2864px;
    height: 25px;
    width: 30px
}
.layout-search {
    background-position: 0 -2889px;
    height: 25px;
    width: 30px
}
.layout-top-hov {
    background-position: 0 -2914px;
    height: 30px;
    width: 35px
}
.layout-top {
    background-position: 0 -2944px;
    height: 30px;
    width: 35px
}
a {
    color: #000;
    text-decoration: none
}
a:hover {
    color: #ff7e00
}
input {
    margin: 0;
    padding: 0;
    color: #808086
}
input::-webkit-input-placeholder {
    color: #808086
}
input:-moz-placeholder {
    color: #808086
}
input::-moz-placeholder {
    color: #808086
}
input:-ms-input-placeholder {
    color: #808086
}
strong {
    font-weight: bold
}
fieldset legend {
    display: none
}
.loading {
    background: url('../images/images-loading.gif') no-repeat center;
    width: 100%;
    height: 200px;
    margin: 0 auto
}
footer .copyright,
.wrapper-out .wrapper,
.wrapper-out .wrapper .page-main--top,
.main-content div.plugin-social-block-p,
section {
    display: block;
    overflow: hidden
}
.page-header__logo,
.game-info a,
.search__button,
#main-nav ul>li>a,
.top,
.char .char-tab li .tab-1,
.char .char-tab li .tab-2,
.char .char-tab li .tab-3,
.char .char-tab li .tab-4,
.char .char-tab li .tab-5,
.char .char-tab li .tab-6,
.char .char-tab li .tab-7,
.char .char-tab li .tab-8,
.char .char-cont li a {
    display: block;
    font: 0/0 a;
    text-shadow: none;
    color: transparent
}
.game-info-sprite,
.game-info-logo-360game,
.game-info-logo-360play,
.game-info-logo-ksoft,
.game-info-logo-seasun,
.game-info-logo-vng,
.game-info-logo-webzen,
.game-info-logo-zingme,
.game-info-tai-android-off,
.game-info-tai-android,
.game-info-tai-apk-off,
.game-info-tai-apk,
.game-info-tai-ios-off,
.game-info-tai-ios,
.game-info__tai_ios,
.game-info__tai_ios:hover,
.game-info__tai_ios.Off,
.game-info__tai_android,
.game-info__tai_android:hover,
.game-info__tai_android.Off,
.game-info__tai_apk,
.game-info__tai_apk:hover,
.game-info__tai_apk.Off,
footer .copyright .logo-vng,
footer .copyright .logo-ksoft,
footer .copyright .logo-seasun {
    background-image: url('../images/images-game-info-s105dcfc289.png');
    background-repeat: no-repeat
}
.game-info-logo-360game {
    background-position: 0 0;
    height: 66px;
    width: 90px
}
.game-info-logo-360play {
    background-position: 0 -66px;
    height: 66px;
    width: 77px
}
.game-info-logo-ksoft {
    background-position: 0 -132px;
    height: 20px;
    width: 125px
}
.game-info-logo-seasun {
    background-position: 0 -152px;
    height: 15px;
    width: 149px
}
.game-info-logo-vng {
    background-position: 0 -167px;
    height: 49px;
    width: 33px
}
.game-info-logo-webzen {
    background-position: 0 -216px;
    height: 66px;
    width: 65px
}
.game-info-logo-zingme {
    background-position: 0 -282px;
    height: 66px;
    width: 122px
}
.game-info-tai-android-off {
    background-position: 0 -418px;
    height: 70px;
    width: 145px
}
.game-info-tai-android {
    background-position: 0 -488px;
    height: 70px;
    width: 145px
}
.game-info-tai-android:hover,
.game-info-tai-android.tai-android-hover {
    background-position: 0 -348px
}
.game-info-tai-apk-off {
    background-position: 0 -598px;
    height: 40px;
    width: 290px
}
.game-info-tai-apk {
    background-position: 0 -638px;
    height: 40px;
    width: 290px
}
.game-info-tai-apk:hover,
.game-info-tai-apk.tai-apk-hover {
    background-position: 0 -558px
}
.game-info-tai-ios-off {
    background-position: 0 -748px;
    height: 70px;
    width: 145px
}
.game-info-tai-ios {
    background-position: 0 -818px;
    height: 70px;
    width: 145px
}
.game-info-tai-ios:hover,
.game-info-tai-ios.tai-ios-hover {
    background-position: 0 -678px
}
.game-info {
    float: left
}
.game-info a {
    float: left
}
.game-info__download {
    background: url('../images/images-qrcode.png') no-repeat;
    width: 290px;
    height: 190px
}
.game-info__tai_ios {
    background-position: 0 -818px;
    height: 56px;
    width: 171px
}
.game-info__tai_ios:hover,
.game-info__tai_ios.tai-ios-hover {
    background-position: 0 -678px
}
.game-info__tai_ios:hover {
    background-position: 0 -678px;
    height: 56px;
    width: 171px
}
.game-info__tai_ios.Off {
    background-position: 0 -748px;
    height: 70px;
    width: 145px;
    cursor: none
}
.game-info__tai_android {
    background-position: 0 -488px;
    height: 56px;
    width: 119px
}
.game-info__tai_android:hover,
.game-info__tai_android.tai-android-hover {
    background-position: 0 -348px
}
.game-info__tai_android:hover {
    background-position: 0 -348px;
    height: 56px;
    width: 119px
}
.game-info__tai_android.Off {
    background-position: 0 -418px;
    height: 70px;
    width: 145px;
    cursor: none
}
.game-info__tai_apk {
    background-position: 0 -638px;
    height: 40px;
    width: 290px
}
.game-info__tai_apk:hover,
.game-info__tai_apk.tai-apk-hover {
    background-position: 0 -558px
}
.game-info__tai_apk:hover {
    background-position: 0 -558px;
    height: 40px;
    width: 290px
}
.game-info__tai_apk.Off {
    background-position: 0 -598px;
    height: 40px;
    width: 290px;
    cursor: none
}
footer {
    width: 1000px;
    margin: 0 auto
}
footer .copyright {
    padding: 55px 0 10px 0
}
footer .copyright p {
    float: left;
    font-size: 0;
    margin: 0 10px
}
footer .copyright .logo-vng {
    background-position: 0 -167px;
    height: 49px;
    width: 33px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-ksoft {
    background-position: 0 -132px;
    height: 20px;
    width: 125px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-seasun {
    background-position: 0 -152px;
    height: 15px;
    width: 149px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-seasun,
footer .copyright .logo-ksoft {
    margin-top: 10px
}
footer .copyright .text {
    width: 590px;
    font-size: 11px;
    color: #8e8d8d;
    float: right;
	padding-top: 14px;
}
.search {
    float: right;
    padding: 19px 20px 28px 0
}
.search__field {
    background: #1e2125;
    border: 1px solid #0e0f11;
    color: #9ca7ad;
    width: 160px;
    height: 23px;
    text-indent: 10px;
    float: left;
    padding: 0
}
.search__button {
    background-position: 0 -2889px;
    height: 25px;
    width: 30px;
    float: left;
    border: 0;
    cursor: pointer
}
.search__button:hover {
    background-position: 0 -2864px;
    height: 25px;
    width: 30px
}
#cse.search-results b {
    font-weight: bold
}
#cse.search-results table {
    margin: 0
}
#cse.search-results .gsc-adBlock,
#cse.search-results .gsc-resultsHeader,
#cse.search-results .gcsc-branding,
#cse.search-results .gsc-url-top {
    display: none
}
#cse.search-results .gsc-control-cse,
#cse.search-results .gsc-control-cse-vi {
    background: 0;
    border: 0;
    padding: 0
}
#cse.search-results .gsc-above-wrapper-area {
    border-bottom: 0
}
#cse.search-results .gsc-webResult.gsc-result {
    border: 0
}
#cse.search-results .gs-result .gs-title,
#cse.search-results .gs-result .gs-title * {
    color: #2c221b;
    height: auto;
    font-weight: bold;
    text-decoration: none
}
#cse.search-results .gs-result .gs-title:hover,
#cse.search-results .gs-result .gs-title:hover * {
    color: #c82f00
}
#cse.search-results .gsc-table-result tr {
    background: 0
}
#cse.search-results .gsc-table-result td {
    border: 0;
    padding: 0
}
#cse.search-results .gsc-table-result,
#cse.search-results .gsc-thumbnail-inside,
#cse.search-results .gsc-url-top {
    padding-left: 0;
    padding-right: 0
}
#cse.search-results .gsc-expansionArea .gsc-webResult.gsc-result {
    border-bottom: 1px solid #9e7e61;
    margin-bottom: 0;
    padding: 10px 0
}
#cse.search-results .gsc-results .gsc-cursor-box {
    margin: 10px 0
}
#cse.search-results .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background: #decda6;
    border: 1px solid #978060;
    color: #725d3f;
    display: block;
    float: left;
    height: 25px;
    line-height: 28px;
    padding: 0 10px;
    text-decoration: none
}
#cse.search-results .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page {
    text-decoration: none;
    background-color: #725a40;
    border: 1px solid #604c35;
    color: #fff5f5
}
.fa-chevron-down:before {
    background: url('../images/images-fa-chevron-down.png') no-repeat center 0;
    content: "\25bc";
    display: block;
    margin: 45px 0 0;
    font: 10px/10px Arial
}
#main-nav {
    float: left
}
#main-nav ul {
    width: 1000px;
    height: 80px
}
#main-nav ul>li {
    float: left;
    position: relative
}
#main-nav ul>li>a.main-nav__event {
    background-position: 0 -1982px;
    height: 70px;
    width: 136px
}
#main-nav ul>li>a.main-nav__event:hover,
#main-nav ul>li>a.main-nav__event.active {
    background-position: 0 -1912px;
    height: 70px;
    width: 136px
}
#main-nav ul>li>a.main-nav__event.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__feature {
    background-position: 0 -2124px;
    height: 72px;
    width: 140px
}
#main-nav ul>li>a.main-nav__feature:hover,
#main-nav ul>li>a.main-nav__feature.active {
    background-position: 0 -2052px;
    height: 72px;
    width: 140px
}
#main-nav ul>li>a.main-nav__feature.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__home {
    background-position: 0 -2302px;
    height: 105px;
    width: 268px
}
#main-nav ul>li>a.main-nav__home:hover,
#main-nav ul>li>a.main-nav__home.active {
    background-position: 0 -2196px;
    height: 106px;
    width: 268px
}
#main-nav ul>li>a.main-nav__home.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__lib {
    background-position: 0 -2621px;
    height: 71px;
    width: 140px
}
#main-nav ul>li>a.main-nav__lib:hover,
#main-nav ul>li>a.main-nav__lib.active {
    background-position: 0 -2550px;
    height: 71px;
    width: 140px
}
#main-nav ul>li>a.main-nav__lib.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__hotline {
    background-position: 0 -2479px;
    height: 71px;
    width: 160px
}
#main-nav ul>li>a.main-nav__hotline:hover,
#main-nav ul>li>a.main-nav__hotline.active {
    background-position: 0 -2408px;
    height: 70px;
    width: 160px
}
#main-nav ul>li>a.main-nav__hotline.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__social {
    background-position: 0 -2763px;
    height: 71px;
    width: 139px
}
#main-nav ul>li>a.main-nav__social:hover,
#main-nav ul>li>a.main-nav__social.active {
    background-position: 0 -2692px;
    height: 71px;
    width: 139px
}
#main-nav ul>li>a.main-nav__social.off {
    opacity: .3
}
#main-nav ul>li:hover ul {
    display: block
}
#main-nav ul>li>ul {
    border-radius: 0 0 10px 10px;
    border: 1px solid #d9d9e0;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -80px;
    width: 168px;
    height: auto;
    z-index: 9999
}
#main-nav ul>li>ul>li {
    width: 168px;
    background: #fff url('../images/images-nav-sub-line.png') no-repeat center bottom
}
#main-nav ul>li>ul>li:first-child {
    padding-top: 8px
}
#main-nav ul>li>ul>li:last-child {
    background: #fff url('../images/images-nav-sub-line-bottom.png') no-repeat center top;
    padding-bottom: 8px
}
#main-nav ul>li>ul>li ul {
    display: none
}
#main-nav ul>li>ul>li a {
    color: #737373;
    height: auto;
    padding-left: 20px;
    font: 15px/30px Arial
}
#main-nav ul>li>ul>li a:hover,
#main-nav ul>li>ul>li a.active {
    color: #a82a2d
}
#left-nav {
    width: 260px;
    float: left;
    margin-bottom: 10px
}
#left-nav .fa-chevron-down::before {
    background: 0;
    content: "\25bc";
    float: right;
    font: 14px/10px a;
    margin: 20px
}
#left-nav ul a {
    cursor: pointer
}
#left-nav ul>li {
    float: left
}
#left-nav ul>li a {
    display: block;
    background-position: 0 -1862px;
    height: 50px;
    width: 262px;
    color: #c3c8cf;
    font: 18px/50px Tahoma;
    text-indent: 25px
}
#left-nav ul>li a:hover,
#left-nav ul>li a.active,
#left-nav ul>li a.open {
    background-position: 0 -1812px;
    height: 50px;
    width: 262px;
    color: #1d1f27
}
#left-nav ul>li ul {
    display: none;
    float: left
}
#left-nav ul>li ul li {
    background: #212329
}
#left-nav ul>li ul li a {
    background: url('../images/images-left-nav-sub-nor.png') no-repeat 13px 17px;
    font: 15px/40px Tahoma;
    height: 40px;
    color: #9a9a9e;
    display: block;
    text-indent: 25px
}
#left-nav ul>li ul li a.active,
#left-nav ul>li ul li a:hover {
    background: url('../images/images-left-nav-sub-hov.png') no-repeat 13px 17px;
    color: #f54c18;
    height: 40px
}
#left-nav ul>li ul li:nth-child(even) {
    background: #26282e
}
#left-nav ul>li.active,
#left-nav ul>li.has-sub {
    background-position: 0 -40px
}
#left-nav ul>li.open span.holder {
    position: absolute;
    display: block;
    top: 15px;
    right: 10px
}
#left-nav ul>li.active ul,
#left-nav ul>li.open ul {
    display: block!important
}
body {
    background: #15161a;
    color: #808086;
    font: 15px/22px Tahoma, Arial, Verdana, sans-serif;
    background: url('../images/images-page-loop.jpg')
}
.Rating_vng_18 {
    top: 140px
}
.wrapper-out {
    background: url('../images/images-page-footer.jpg') no-repeat center bottom
}

.wrapper-out .wrapper.random_bg.header1 {
    background-image: url(../images/images-page-header1.jpg)
}
.wrapper-out .wrapper.random_bg.header2 {
    background-image: url(../images/images-page-header2.jpg)
}
.wrapper-out .wrapper.random_bg.header3 {
    background-image: url(../images/images-page-header3.jpg)
}
.wrapper-out .wrapper.random_bg.header4 {
    background-image: url(../images/images-page-header4.jpg)
}
.wrapper-out .wrapper .page-header {
    height: 550px;
    width: 1000px;
    margin: 0 auto;
    position: relative
}
.wrapper-out .wrapper .page-header--outter {
    background: url('../images/images-nav.png') top center no-repeat;
    width: 100%;
    margin: 0 auto
}
.wrapper-out .wrapper .page-header__logo {
    float: left;
    position: absolute;
    left: 120px;
    top: 100px;
    height: 118px;
    width: 255px
}
.wrapper-out .wrapper .page-header__clip {
    float: left;
    position: absolute;
    left: 210px;
    top: 445px;
    height: 65px;
    width: 75px;
    text-indent: -9999px;
    background: url('../images/images-clip.png') top center no-repeat
}
.wrapper-out .wrapper .page-main {
    float: left
}
.wrapper-out .wrapper .page-main--bot {
    width: 1000px;
    margin: 0 auto
}
.wrapper-out .wrapper .page-main--top {
    width: 1000px;
    margin: 0 auto
}
.wrapper-out .wrapper .page-main aside {
    float: left;
    width: 290px
}
.wrapper-out .wrapper .page-main main {
    float: left;
    width: 710px
}
#main-content {
    position: relative
}
.top {
    clear: both;
    background-position: 0 -2944px;
    height: 30px;
    width: 35px;
    margin: 0 auto
}
.top:hover {
    background-position: 0 -2914px;
    height: 30px;
    width: 35px
}
.top#scrolltop {
    position: absolute
}
.main-content {
    background: url('../images/images-main-content-loop.jpg') repeat-y;
    width: 690px;
    float: left
}
.main-content--bot {
    background: url(../images/images-main-content-bot.jpg) no-repeat 0 bottom
}
.main-content__title {
    background: #000 url('../images/images-main-content-title.jpg') no-repeat 0 0;
    padding-left: 40px;
    height: 90px;
    padding-top: 10px
}
.main-content__title h1 {
    height: 48px;
    color: #fff;
    font: bold 23px/50px Arial;
    text-shadow: 1px 1px #30331b
}
.main-content__title #breadcrumb {
    background: url('../images/images-icon-breadcrumb.png') no-repeat 0 4px;
    padding-left: 18px
}
.main-content__title #breadcrumb li {
    display: inline-block;
    color: #fff
}
.main-content__title #breadcrumb li a {
    color: #fff;
    text-decoration: none
}
.main-content__title #breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline
}
.main-content__title #breadcrumb li.active,
.main-content__title #breadcrumb li:last-child {
    font-weight: bold;
    color: #fff
}
.main-content div.plugin-social-block-p {
    background: 0;
    border-bottom: 1px solid #755535;
    margin-bottom: 20px;
    width: 630px
}
.main-content div.plugin-social-block-p.active {
    background: url('../images/images-main-content-loop.jpg') repeat-y center;
    position: fixed;
    top: 0;
    z-index: 100
}
.main-content article {
    background: #fff;
    padding: 40px 30px 100px;
    color: #2c221b;
    width: 630px;
    min-height: 680px
}
.main-content article article {
    padding: 0
}
.main-content article iframe {
    display: block
}
.main-content article a {
    color: #c82f00;
    text-decoration: underline
}
.main-content article a:hover {
    color: #2170d3;
    text-decoration: none
}
.main-content article .article__title {
    color: #1f1f1f;
    font: bold 22px/34px Tahoma;
    text-align: center
}
.main-content article .article__time {
    display: block;
    color: #2c221b;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center
}
.main-content article .article__detail {
    clear: both
}
.btn-sub a {
    background: url('../images/images-nut-phu.jpg') no-repeat;
    width: 290px;
    height: 96px;
    text-indent: -9999px;
    display: block;
    overflow: hidden
}
.btn-sub a.btn-fanpage {
    background-position: 0 -96px;
    height: 79px
}
.btn-sub a.btn-guide {
    background-position: 0 -174px
}
.tinhnang {
    background: url('../images/images-tinh-nang.jpg') no-repeat;
    width: 290px;
    height: 315px;
    display: block;
    overflow: hidden;
    padding-top: 45px
}
.tinhnang ul li {
    float: left;
    width: 50%
}
.tinhnang ul li a {
    color: #a86f5c;
    padding: 5px 15px 10px 40px;
    display: block
}
.tinhnang ul li a:hover {
    color: #c42323
}
#fanpage-facebook {
    border: medium none;
    visibility: visible;
    height: 210px;
    width: 260px;
    margin-top: 10px
}
.home-sprite,
.home-game-servers__list-hov,
.home-game-servers__list,
.home-game-servers__newest-server-hov,
.home-game-servers__newest-server,
.home-game-servers__title,
.home-icon-more-hov,
.home-icon-more,
.home-jcarousel-control-next-hov,
.home-jcarousel-control-next,
.home-jcarousel-control-prev-hov,
.home-jcarousel-control-prev,
.home-library__img-hov,
.home-library__img,
.home-library__video-hov,
.home-library__video,
.home-posts-bg,
.home-search-hov,
.home-search-nor {
    background-image: url('../images/images-home-s488048b725.png');
    background-repeat: no-repeat
}
.home-game-servers__list-hov {
    background-position: 0 0;
    height: 50px;
    width: 128px
}
.home-game-servers__list {
    background-position: 0 -50px;
    height: 50px;
    width: 128px
}
.home-game-servers__newest-server-hov {
    background-position: 0 -100px;
    height: 60px;
    width: 260px
}
.home-game-servers__newest-server {
    background-position: 0 -160px;
    height: 60px;
    width: 260px
}
.home-game-servers__title {
    background-position: 0 -220px;
    height: 40px;
    width: 217px
}
.home-icon-more-hov {
    background-position: 0 -260px;
    height: 20px;
    width: 20px
}
.home-icon-more {
    background-position: 0 -280px;
    height: 20px;
    width: 20px
}
.home-jcarousel-control-next-hov {
    background-position: 0 -300px;
    height: 30px;
    width: 30px
}
.home-jcarousel-control-next {
    background-position: 0 -330px;
    height: 30px;
    width: 30px
}
.home-jcarousel-control-prev-hov {
    background-position: 0 -360px;
    height: 30px;
    width: 30px
}
.home-jcarousel-control-prev {
    background-position: 0 -390px;
    height: 30px;
    width: 30px
}
.home-library__img-hov {
    background-position: 0 -420px;
    height: 40px;
    width: 220px
}
.home-library__img {
    background-position: 0 -460px;
    height: 40px;
    width: 220px
}
.home-library__video-hov {
    background-position: 0 -500px;
    height: 40px;
    width: 220px
}
.home-library__video {
    background-position: 0 -540px;
    height: 40px;
    width: 220px
}
.home-posts-bg {
    background-position: 0 -580px;
    height: 370px;
    width: 430px
}
.home-search-hov {
    background-position: 0 -950px;
    height: 25px;
    width: 30px
}
.home-search-nor {
    background-position: 0 -975px;
    height: 25px;
    width: 30px
}
.banner {
    position: relative
}
.banner-event {
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 1;
    height: 286px;
    width: 710px
}
.banner-event__list {
    position: relative;
    width: 20000em;
    height: 100%
}
.banner-event__list li {
    float: left
}
.banner-event__list li a,
.banner-event__list li img {
    display: block;
    height: 286px;
    width: 710px
}
.banner-event__control {
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 10px;
    width: 150px;
    height: 22px
}
.banner-event__control a {
    color: #f2f7fd;
    margin: 0 4px;
    width: 19px;
    height: 19px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    background: url('../images/images-icon-banner.png') -32px 0 no-repeat
}
.banner-event__control a:hover,
.banner-event__control a.active {
    background: url('../images/images-icon-banner.png') 0 0 no-repeat;
    color: #e1f1ff;
    text-decoration: none
}
.chars-sprite,
.chars-bt-viewmore-hov,
.chars-bt-viewmore,
.chars-tab-1-hov,
.chars-tab-1,
.chars-tab-2-hov,
.chars-tab-2,
.chars-tab-3-hov,
.chars-tab-3,
.chars-tab-4-hov,
.chars-tab-4,
.chars-tab-5-hov,
.chars-tab-5,
.chars-tab-6-hov,
.chars-tab-6,
.chars-tab-7-hov,
.chars-tab-7,
.chars-tab-8-hov,
.chars-tab-8,
.char .char-tab li .tab-1,
.char .char-tab li .tab-1:hover,
.char .char-tab li:hover .tab-1,
.char .char-tab li.active .tab-1,
.char .char-tab li .tab-2,
.char .char-tab li .tab-2:hover,
.char .char-tab li:hover .tab-2,
.char .char-tab li.active .tab-2,
.char .char-tab li .tab-3,
.char .char-tab li .tab-3:hover,
.char .char-tab li:hover .tab-3,
.char .char-tab li.active .tab-3,
.char .char-tab li .tab-4,
.char .char-tab li .tab-4:hover,
.char .char-tab li:hover .tab-4,
.char .char-tab li.active .tab-4,
.char .char-tab li .tab-5,
.char .char-tab li .tab-5:hover,
.char .char-tab li:hover .tab-5,
.char .char-tab li.active .tab-5,
.char .char-tab li .tab-6,
.char .char-tab li .tab-6:hover,
.char .char-tab li:hover .tab-6,
.char .char-tab li.active .tab-6,
.char .char-tab li .tab-7,
.char .char-tab li .tab-7:hover,
.char .char-tab li:hover .tab-7,
.char .char-tab li.active .tab-7,
.char .char-tab li .tab-8,
.char .char-tab li .tab-8:hover,
.char .char-tab li:hover .tab-8,
.char .char-tab li.active .tab-8,
.char .char-cont li a,
.char .char-cont li a:hover {
    background-image: url('../images/images-chars-s9d004b4064.png');
    background-repeat: no-repeat
}
.chars-bt-viewmore-hov {
    background-position: 0 0;
    height: 30px;
    width: 90px
}
.chars-bt-viewmore {
    background-position: 0 -30px;
    height: 30px;
    width: 90px
}
.chars-tab-1-hov {
    background-position: 0 -60px;
    height: 41px;
    width: 32px
}
.chars-tab-1 {
    background-position: 0 -101px;
    height: 41px;
    width: 32px
}
.chars-tab-2-hov {
    background-position: 0 -142px;
    height: 41px;
    width: 32px
}
.chars-tab-2 {
    background-position: 0 -183px;
    height: 41px;
    width: 32px
}
.chars-tab-3-hov {
    background-position: 0 -224px;
    height: 40px;
    width: 32px
}
.chars-tab-3 {
    background-position: 0 -264px;
    height: 40px;
    width: 32px
}
.chars-tab-4-hov {
    background-position: 0 -304px;
    height: 41px;
    width: 32px
}
.chars-tab-4 {
    background-position: 0 -345px;
    height: 41px;
    width: 32px
}
.chars-tab-5-hov {
    background-position: 0 -386px;
    height: 41px;
    width: 32px
}
.chars-tab-5 {
    background-position: 0 -427px;
    height: 41px;
    width: 32px
}
.chars-tab-6-hov {
    background-position: 0 -468px;
    height: 40px;
    width: 32px
}
.chars-tab-6 {
    background-position: 0 -508px;
    height: 40px;
    width: 32px
}
.chars-tab-7-hov {
    background-position: 0 -548px;
    height: 40px;
    width: 32px
}
.chars-tab-7 {
    background-position: 0 -588px;
    height: 40px;
    width: 32px
}
.chars-tab-8-hov {
    background-position: 0 -628px;
    height: 41px;
    width: 32px
}
.chars-tab-8 {
    background-position: 0 -669px;
    height: 41px;
    width: 32px
}
.char {
    position: relative
}
.char .char-tab {
    width: 555px;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 10
}
.char .char-tab li {
    float: left;
    margin: 0 10px 15px 0
}
.char .char-tab li .tab-1 {
    background-position: 0 -101px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-1:hover {
    background-position: 0 -60px;
    height: 41px;
    width: 32px
}
.char .char-tab li:hover .tab-1,
.char .char-tab li.active .tab-1 {
    background-position: 0 -60px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-2 {
    background-position: 0 -183px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-2:hover {
    background-position: 0 -142px;
    height: 41px;
    width: 32px
}
.char .char-tab li:hover .tab-2,
.char .char-tab li.active .tab-2 {
    background-position: 0 -142px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-3 {
    background-position: 0 -264px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-3:hover {
    background-position: 0 -224px;
    height: 40px;
    width: 32px
}
.char .char-tab li:hover .tab-3,
.char .char-tab li.active .tab-3 {
    background-position: 0 -224px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-4 {
    background-position: 0 -345px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-4:hover {
    background-position: 0 -304px;
    height: 41px;
    width: 32px
}
.char .char-tab li:hover .tab-4,
.char .char-tab li.active .tab-4 {
    background-position: 0 -304px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-5 {
    background-position: 0 -427px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-5:hover {
    background-position: 0 -386px;
    height: 41px;
    width: 32px
}
.char .char-tab li:hover .tab-5,
.char .char-tab li.active .tab-5 {
    background-position: 0 -386px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-6 {
    background-position: 0 -508px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-6:hover {
    background-position: 0 -468px;
    height: 40px;
    width: 32px
}
.char .char-tab li:hover .tab-6,
.char .char-tab li.active .tab-6 {
    background-position: 0 -468px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-7 {
    background-position: 0 -588px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-7:hover {
    background-position: 0 -548px;
    height: 40px;
    width: 32px
}
.char .char-tab li:hover .tab-7,
.char .char-tab li.active .tab-7 {
    background-position: 0 -548px;
    height: 40px;
    width: 32px
}
.char .char-tab li .tab-8 {
    background-position: 0 -669px;
    height: 41px;
    width: 32px
}
.char .char-tab li .tab-8:hover {
    background-position: 0 -628px;
    height: 41px;
    width: 32px
}
.char .char-tab li:hover .tab-8,
.char .char-tab li.active .tab-8 {
    background-position: 0 -628px;
    height: 41px;
    width: 32px
}
.char .char-cont {
    width: 710px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0
}
.char .char-cont li {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}
.char .char-cont li.active {
    z-index: 5;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear
}
.char .char-cont li.char-cont-1 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-1.jpg') no-repeat
}
.char .char-cont li.char-cont-2 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-2.jpg') no-repeat
}
.char .char-cont li.char-cont-3 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-3.jpg') no-repeat
}
.char .char-cont li.char-cont-4 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-4.jpg') no-repeat
}
.char .char-cont li.char-cont-5 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-5.jpg') no-repeat
}
.char .char-cont li.char-cont-6 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-6.jpg') no-repeat
}
.char .char-cont li.char-cont-7 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-7.jpg') no-repeat
}
.char .char-cont li.char-cont-8 {
    height: 340px;
    width: 710px;
    background: url('../images/images-char-8.jpg') no-repeat
}
.char .char-cont li a {
    background-position: 0 -30px;
    height: 30px;
    width: 90px;
    position: absolute;
    top: 290px;
    left: 20px
}
.char .char-cont li a:hover {
    background-position: 0 0;
    height: 30px;
    width: 90px
}
.char .char-cont li img {
    border: 1px solid #5c647c;
    position: absolute;
    top: 180px;
    left: 30px
}
section {
    float: left
}
section.posts {
    background: #fff;
    width: 710px;
    height: 610px;
    position: relative
}
section.banner {
    height: 286px;
    width: 710px
}
section.char {
    height: 340px;
    width: 710px
}
.posts__view {
    background: url('../images/images-icon-more.png') no-repeat right 0;
    float: right;
    color: #b0b8ce;
    font: 12px/24px Arial;
    padding-right: 30px;
    margin: 9px 0;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 10px
}
.posts__view:hover {
    background: url('../images/images-icon-more-hov.png') no-repeat right 0;
    color: #d6dced
}
.posts__tab {
    float: left;
    padding-top: 7px;
    border-bottom: 1px solid #e8e8e8;
    width: 95%;
    position: relative;
    margin-left: 19px
}
.posts__tab li {
    float: left;
    margin: 0 5px 0 0
}
.posts__tab li a {
    background: 0;
    color: #2d2c2a;
    display: block;
    float: left;
    padding: 2px 9px;
    margin-bottom: -3px;
    border-bottom: 0;
    font: bold 15px/32px Arial
}
.posts__tab li a:hover,
.posts__tab li a.active {
    border: 0;
    border-bottom: 3px solid #a82a2d;
    color: #a82a2d
}
.posts__list {
    width: 670px;
    padding: 12px 20px 0 20px;
    overflow: hidden;
    float: left
}
.posts__list li {
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden
}
.posts__list li:last-child {
    border-bottom: 0
}
.posts__list li:first-child {
    border: 1px solid #e8e8e8
}
.posts__list li:first-child a {
    color: #a82a2d;
    font-weight: bold
}
.posts__list li:first-child .posts__post-title {
    background: #f8f8f4
}
.posts__list li:first-child time {
    padding-right: 10px
}
.posts__list li .posts__post-image {
    border: 2px solid #666874;
    width: 136px;
    height: 86px;
    float: left;
    margin: 10px 10px 10px 0
}
.posts__list li .posts__post-image img {
    width: 136px;
    height: 86px
}
.posts__list li .posts__post-image:hover {
    border-color: #c12b2d
}
.posts__list li .posts__post-image ~ .posts__post-title {
    background: none!important;
    text-indent: 0;
    font-weight: bold;
    font-size: 14px;
    color: #6997c0
}
.posts__list li .posts__post-title {
    background: url('../images/images-icon-news.gif') no-repeat 0 center;
    display: block;
    text-indent: 15px;
    line-height: 40px;
    color: #2c221b;
    text-decoration: none
}
.posts__list li .posts__post-title.hot {
    color: #6997c0
}
.posts__list li .posts__post-title:hover {
    color: #a82a2d
}
.posts__list li .posts__post-title:hover time {
    color: #9a9a9e
}
.posts__list li .posts__post-title time {
    color: #9a9a9e;
    font-size: 13px;
    float: right;
    font-weight: normal
}
.posts__list li .posts__post-intro {
    font-weight: normal;
    color: #9a9a9e;
    line-height: 22px;
    display: block
}
.intro {
    position: relative
}
.intro .thu-vien {
    background: url('../images/images-thu-vien.png') no-repeat;
    width: 156px;
    height: 40px;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100
}
.intro .thu-vien:hover {
    background: url('../images/images-thu-vien-hover.png') no-repeat
}
.box_hotro {
    background: #c62860;
    color: #fff;
    height: 25px;
    position: absolute;
    left: 0;
    width: 230px;
    top: -45px;
    padding: 10px
}
label {
    color: #ccc;
    font-style: italic;
    display: block;
    width: 30px;
    height: 30px;
    background: #c62860;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -40px
}
label.close {
    background: url('../images/images-btn_close.gif') no-repeat
}
label.open {
    background: url('../images/images-btn_open.gif') no-repeat
}
div#popup-social-home {
    display: none !important;

}