/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.fancybox-opened {
    z-index: 99999
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}
.fancybox-outer,
.fancybox-inner {
    position: relative
}
.fancybox-inner {
    overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}
.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('http://img.zing.vn/products/vendor/fancybox/fancybox_sprite.png')
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('http://img.zing.vn/products/vendor/fancybox/fancybox_loading.gif') center center no-repeat
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('http://img.zing.vn/products/vendor/fancybox/blank.gif');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}
.fancybox-prev {
    left: 0
}
.fancybox-next {
    right: 0
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}
.fancybox-nav:hover span {
    visibility: visible
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important
}
.fancybox-lock {
    overflow: hidden!important;
    width: auto
}
.fancybox-lock body {
    overflow: hidden!important
}
.fancybox-lock-test {
    overflow-y: hidden!important
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 10000;
    background: url('http://img.zing.vn/products/vendor/fancybox/fancybox_overlay.png')
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}
.fancybox-title {
    visibility: hidden;
    font: normal 15px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
    padding: 0 10px
}
.fancybox-title a {
    padding: 0 10px;
    font-size: 15px
}
.fancybox-opened .fancybox-title {
    visibility: visible
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}
.fancybox-title-inside-wrap {
    padding-top: 10px
}
.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}
h3.Title {
    display: none
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url('http://img.zing.vn/products/vendor/fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px
    }
    #fancybox-loading div {
        background-image: url('http://img.zing.vn/products/vendor/fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px
    }
}
#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050
}
#fancybox-thumbs.bottom {
    bottom: 2px
}
#fancybox-thumbs.top {
    top: 2px
}
#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}
#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: .5
}
#fancybox-thumbs ul li.active {
    opacity: .75;
    padding: 0;
    border: 1px solid #fff
}
#fancybox-thumbs ul li:hover {
    opacity: 1
}
#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: 0
}
#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none
}
.Rating {
    width: 150px;
    height: 90px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000
}
.MRating {
    width: 90px;
    height: 40px;
    display: none;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1000
}
@media screen and (max-width: 768px) {}@media screen and (max-width: 1025px) {
    .Rating_margintop {
        top: 170px
    }
}
.Rating_nph_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nph-0.jpg) no-repeat
}
.Rating_nph_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nph-12.jpg) no-repeat
}
.Rating_nph_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nph-18.jpg) no-repeat
}
.Rating_vng_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/vng-0.jpg) no-repeat
}
.Rating_vng_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/vng-12.jpg) no-repeat
}
.Rating_vng_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/vng-18.jpg) no-repeat
}
.Rating_long-dinh_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/long-dinh-0.jpg) no-repeat
}
.Rating_long-dinh_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/long-dinh-12.jpg) no-repeat
}
.Rating_long-dinh_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/long-dinh-18.jpg) no-repeat
}
.Rating_minh-phuong-thinh_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/minh-phuong-thinh-0.jpg) no-repeat
}
.Rating_minh-phuong-thinh_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/minh-phuong-thinh-12.jpg) no-repeat
}
.Rating_minh-phuong-thinh_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/minh-phuong-thinh-18.jpg) no-repeat
}
.Rating_nguyen-bao_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nguyen-bao-0.jpg) no-repeat
}
.Rating_nguyen-bao_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nguyen-bao-12.jpg) no-repeat
}
.Rating_nguyen-bao_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/nguyen-bao-18.jpg) no-repeat
}
.Rating_bp_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/bp-0.jpg) no-repeat
}
.Rating_bp_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/bp-12.jpg) no-repeat
}
.Rating_bp_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/bp-18.jpg) no-repeat
}
.M_Rating_vng_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-vng-0.jpg) no-repeat
}
.M_Rating_vng_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-vng-12.jpg) no-repeat
}
.M_Rating_vng_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-vng-18.jpg) no-repeat
}
.M_Rating_long-dinh_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-long-dinh-0.jpg) no-repeat
}
.M_Rating_long-dinh_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-long-dinh-12.jpg) no-repeat
}
.M_Rating_long-dinh_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-long-dinh-18.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-minh-phuong-thinh-0.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-minh-phuong-thinh-12.jpg) no-repeat
}
.M_Rating_minh-phuong-thinh_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-minh-phuong-thinh-18.jpg) no-repeat
}
.M_Rating_nguyen-bao_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nguyen-bao-0.jpg) no-repeat
}
.M_Rating_nguyen-bao_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nguyen-bao-12.jpg) no-repeat
}
.M_Rating_nguyen-bao_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nguyen-bao-18.jpg) no-repeat
}
.M_Rating_bp_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-bp-0.jpg) no-repeat
}
.M_Rating_bp_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-bp-12.jpg) no-repeat
}
.M_Rating_bp_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-bp-18.jpg) no-repeat
}
.M_Rating_nph_0 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nph-0.jpg) no-repeat
}
.M_Rating_nph_12 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nph-12.jpg) no-repeat
}
.M_Rating_nph_18 {
    background: url(http://img.zing.vn/products/vendor/general/rating/images/m-nph-18.jpg) no-repeat
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
b, strong {
	font-weight: bold
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
.layout-sprite,
.layout-bt-gifcode-hov,
.layout-bt-gifcode,
.layout-bt-miniclient-hov,
.layout-bt-miniclient,
.layout-bt-sukien-hov,
.layout-bt-sukien,
.layout-bt-vipck-hov,
.layout-bt-vipck,
.layout-chon-may-chu-hov,
.layout-chon-may-chu-nor,
.layout-dang-nhap-hov,
.layout-dang-nhap-nor,
.layout-hotline,
.layout-left-nav-hov,
.layout-left-nav-nor,
.layout-main-nav__event-hov,
.layout-main-nav__event,
.layout-main-nav__feature-hov,
.layout-main-nav__feature,
.layout-main-nav__home-hov,
.layout-main-nav__home,
.layout-main-nav__hotline-hov,
.layout-main-nav__hotline,
.layout-main-nav__lib-hov,
.layout-main-nav__lib,
.layout-main-nav__social-hov,
.layout-main-nav__social,
.layout-search-bg,
.layout-search-hov,
.layout-search,
.layout-top-hov,
.layout-top,
.search__button,
.search__button:hover,
#main-nav ul>li>a.main-nav__event,
#main-nav ul>li>a.main-nav__event:hover,
#main-nav ul>li>a.main-nav__event.active,
#main-nav ul>li>a.main-nav__feature,
#main-nav ul>li>a.main-nav__feature:hover,
#main-nav ul>li>a.main-nav__feature.active,
#main-nav ul>li>a.main-nav__home,
#main-nav ul>li>a.main-nav__home:hover,
#main-nav ul>li>a.main-nav__home.active,
#main-nav ul>li>a.main-nav__lib,
#main-nav ul>li>a.main-nav__lib:hover,
#main-nav ul>li>a.main-nav__lib.active,
#main-nav ul>li>a.main-nav__hotline,
#main-nav ul>li>a.main-nav__hotline:hover,
#main-nav ul>li>a.main-nav__hotline.active,
#main-nav ul>li>a.main-nav__social,
#main-nav ul>li>a.main-nav__social:hover,
#main-nav ul>li>a.main-nav__social.active,
#left-nav ul>li a,
#left-nav ul>li a:hover,
#left-nav ul>li a.active,
#left-nav ul>li a.open,
.top,
.top:hover {
    /* background-image: url('../images/layout-s612ef06367.png'); */
	background-image: url('../images/topwebktnt3.jpg');
    background-repeat: no-repeat
}
.layout-bt-gifcode-hov {
    background-position: 0 0;
    height: 180px;
    width: 110px
}
.layout-bt-gifcode {
    background-position: 0 -180px;
    height: 180px;
    width: 110px
}
.layout-bt-miniclient-hov {
    background-position: 0 -360px;
    height: 180px;
    width: 110px
}
.layout-bt-miniclient {
    background-position: 0 -540px;
    height: 180px;
    width: 110px
}
.layout-bt-sukien-hov {
    background-position: 0 -720px;
    height: 180px;
    width: 110px
}
.layout-bt-sukien {
    background-position: 0 -900px;
    height: 180px;
    width: 110px
}
.layout-bt-vipck-hov {
    background-position: 0 -1080px;
    height: 180px;
    width: 110px
}
.layout-bt-vipck {
    background-position: 0 -1260px;
    height: 180px;
    width: 110px
}
.layout-chon-may-chu-hov {
    background-position: 0 -1440px;
    height: 70px;
    width: 80px
}
.layout-chon-may-chu-nor {
    background-position: 0 -1510px;
    height: 70px;
    width: 80px
}
.layout-dang-nhap-hov {
    background-position: 0 -1580px;
    height: 71px;
    width: 80px
}
.layout-dang-nhap-nor {
    background-position: 0 -1651px;
    height: 71px;
    width: 80px
}
.layout-hotline {
    background-position: 0 -1722px;
    height: 90px;
    width: 260px
}
.layout-left-nav-hov {
    background-position: 0 -1812px;
    height: 50px;
    width: 262px
}
.layout-left-nav-nor {
    background-position: 0 -1862px;
    height: 50px;
    width: 262px
}
.layout-main-nav__event-hov {
    background-position: 0 -1912px;
    height: 70px;
    width: 136px
}
.layout-main-nav__event {
    background-position: 0 -1982px;
    height: 70px;
    width: 136px
}
.layout-main-nav__feature-hov {
    background-position: 0 -2052px;
    height: 72px;
    width: 140px
}
.layout-main-nav__feature {
    background-position: 0 -2124px;
    height: 72px;
    width: 140px
}
.layout-main-nav__home-hov {
    background-position: 0 -2196px;
    height: 106px;
    width: 268px
}
.layout-main-nav__home {
    background-position: 0 -2302px;
    height: 106px;
    width: 268px
}
.layout-main-nav__hotline-hov {
    background-position: 0 -2408px;
    height: 71px;
    width: 160px
}
.layout-main-nav__hotline {
    background-position: 0 -2479px;
    height: 71px;
    width: 160px
}
.layout-main-nav__lib-hov {
    background-position: 0 -2550px;
    height: 71px;
    width: 140px
}
.layout-main-nav__lib {
    background-position: 0 -2621px;
    height: 71px;
    width: 140px
}
.layout-main-nav__social-hov {
    background-position: 0 -2692px;
    height: 71px;
    width: 139px
}
.layout-main-nav__social {
    background-position: 0 -2763px;
    height: 71px;
    width: 139px
}
.layout-search-bg {
    background-position: 0 -2834px;
    height: 30px;
    width: 260px
}
.layout-search-hov {
    background-position: 0 -2864px;
    height: 25px;
    width: 30px
}
.layout-search {
    background-position: 0 -2889px;
    height: 25px;
    width: 30px
}
.layout-top-hov {
    background-position: 0 -2914px;
    height: 30px;
    width: 35px
}
.layout-top {
    background-position: 0 -2944px;
    height: 30px;
    width: 35px
}
a {
    color: #000;
    text-decoration: none
}
a:hover {
    color: #ff7e00
}
input {
    margin: 0;
    padding: 0;
    color: #808086
}
input::-webkit-input-placeholder {
    color: #808086
}
input:-moz-placeholder {
    color: #808086
}
input::-moz-placeholder {
    color: #808086
}
input:-ms-input-placeholder {
    color: #808086
}
strong {
    font-weight: bold
}
fieldset legend {
    display: none
}
.loading {
    background: url('../images/loading.gif') no-repeat center;
    width: 100%;
    height: 200px;
    margin: 0 auto
}
footer .copyright,
.wrapper-out .wrapper,
.wrapper-out .wrapper .page-main--top,
.main-content div.plugin-social-block-p,
.article__detail .user-info p {
    display: block;
    overflow: hidden
}
.page-header__logo,
.game-info a,
.search__button,
#main-nav ul>li>a,
.top,
.pagination-container .pagination li.first a,
.pagination-container .pagination li.last a,
.pagination-container .pagination li.prev a,
.pagination-container .pagination li.next a {
    display: block;
    font: 0/0 a;
    text-shadow: none;
    color: transparent
}
.game-info-sprite,
.game-info-logo-360game,
.game-info-logo-360play,
.game-info-logo-ksoft,
.game-info-logo-seasun,
.game-info-logo-vng,
.game-info-logo-webzen,
.game-info-logo-zingme,
.game-info-tai-android-off,
.game-info-tai-android,
.game-info-tai-apk-off,
.game-info-tai-apk,
.game-info-tai-ios-off,
.game-info-tai-ios,
.game-info__tai_ios,
.game-info__tai_ios:hover,
.game-info__tai_ios.Off,
.game-info__tai_android,
.game-info__tai_android:hover,
.game-info__tai_android.Off,
.game-info__tai_apk,
.game-info__tai_apk:hover,
.game-info__tai_apk.Off,
footer .copyright .logo-vng,
footer .copyright .logo-ksoft,
footer .copyright .logo-seasun {
    background-image: url('../images/game-info-s105dcfc289.png');
    background-repeat: no-repeat
}
.game-info-logo-360game {
    background-position: 0 0;
    height: 66px;
    width: 90px
}
.game-info-logo-360play {
    background-position: 0 -66px;
    height: 66px;
    width: 77px
}
.game-info-logo-ksoft {
    background-position: 0 -132px;
    height: 20px;
    width: 125px
}
.game-info-logo-seasun {
    background-position: 0 -152px;
    height: 15px;
    width: 149px
}
.game-info-logo-vng {
    background-position: 0 -167px;
    height: 49px;
    width: 33px
}
.game-info-logo-webzen {
    background-position: 0 -216px;
    height: 66px;
    width: 65px
}
.game-info-logo-zingme {
    background-position: 0 -282px;
    height: 66px;
    width: 122px
}
.game-info-tai-android-off {
    background-position: 0 -418px;
    height: 70px;
    width: 145px
}
.game-info-tai-android {
    background-position: 0 -488px;
    height: 70px;
    width: 145px
}
.game-info-tai-android:hover,
.game-info-tai-android.tai-android-hover {
    background-position: 0 -348px
}
.game-info-tai-apk-off {
    background-position: 0 -598px;
    height: 40px;
    width: 290px
}
.game-info-tai-apk {
    background-position: 0 -638px;
    height: 40px;
    width: 290px
}
.game-info-tai-apk:hover,
.game-info-tai-apk.tai-apk-hover {
    background-position: 0 -558px
}
.game-info-tai-ios-off {
    background-position: 0 -748px;
    height: 70px;
    width: 145px
}
.game-info-tai-ios {
    background-position: 0 -818px;
    height: 70px;
    width: 145px
}
.game-info-tai-ios:hover,
.game-info-tai-ios.tai-ios-hover {
    background-position: 0 -678px
}
.game-info {
    float: left
}
.game-info a {
    float: left
}
.game-info__download {
    background: url('../images/qrcode.png') no-repeat;
    width: 290px;
    height: 190px
}
.game-info__tai_ios {
    background-position: 0 -818px;
    height: 56px;
    width: 171px
}
.game-info__tai_ios:hover,
.game-info__tai_ios.tai-ios-hover {
    background-position: 0 -678px
}
.game-info__tai_ios:hover {
    background-position: 0 -678px;
    height: 56px;
    width: 171px
}
.game-info__tai_ios.Off {
    background-position: 0 -748px;
    height: 70px;
    width: 145px;
    cursor: none
}
.game-info__tai_android {
    background-position: 0 -488px;
    height: 56px;
    width: 119px
}
.game-info__tai_android:hover,
.game-info__tai_android.tai-android-hover {
    background-position: 0 -348px
}
.game-info__tai_android:hover {
    background-position: 0 -348px;
    height: 56px;
    width: 119px
}
.game-info__tai_android.Off {
    background-position: 0 -418px;
    height: 70px;
    width: 145px;
    cursor: none
}
.game-info__tai_apk {
    background-position: 0 -638px;
    height: 40px;
    width: 290px
}
.game-info__tai_apk:hover,
.game-info__tai_apk.tai-apk-hover {
    background-position: 0 -558px
}
.game-info__tai_apk:hover {
    background-position: 0 -558px;
    height: 40px;
    width: 290px
}
.game-info__tai_apk.Off {
    background-position: 0 -598px;
    height: 40px;
    width: 290px;
    cursor: none
}
footer {
    width: 1000px;
    margin: 0 auto
}
footer .copyright {
    padding: 55px 0 10px 0
}
footer .copyright p {
    float: left;
    font-size: 0;
    margin: 0 10px
}
footer .copyright .logo-vng {
    background-position: 0 -167px;
    height: 49px;
    width: 33px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-ksoft {
    background-position: 0 -132px;
    height: 20px;
    width: 125px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-seasun {
    background-position: 0 -152px;
    height: 15px;
    width: 149px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 10px
}
footer .copyright .logo-seasun,
footer .copyright .logo-ksoft {
    margin-top: 10px
}
footer .copyright .text {
    width: 590px;
    font-size: 11px;
    color: #8e8d8d;
    float: right;
	padding-top: 14px;
}
.search {
    float: right;
    padding: 19px 20px 28px 0
}
.search__field {
    background: #1e2125;
    border: 1px solid #0e0f11;
    color: #9ca7ad;
    width: 160px;
    height: 23px;
    text-indent: 10px;
    float: left;
    padding: 0
}
.search__button {
    background-position: 0 -2889px;
    height: 25px;
    width: 30px;
    float: left;
    border: 0;
    cursor: pointer
}
.search__button:hover {
    background-position: 0 -2864px;
    height: 25px;
    width: 30px
}
#cse.search-results b {
    font-weight: bold
}
#cse.search-results table {
    margin: 0
}
#cse.search-results .gsc-adBlock,
#cse.search-results .gsc-resultsHeader,
#cse.search-results .gcsc-branding,
#cse.search-results .gsc-url-top {
    display: none
}
#cse.search-results .gsc-control-cse,
#cse.search-results .gsc-control-cse-vi {
    background: 0;
    border: 0;
    padding: 0
}
#cse.search-results .gsc-above-wrapper-area {
    border-bottom: 0
}
#cse.search-results .gsc-webResult.gsc-result {
    border: 0
}
#cse.search-results .gs-result .gs-title,
#cse.search-results .gs-result .gs-title * {
    color: #2c221b;
    height: auto;
    font-weight: bold;
    text-decoration: none
}
#cse.search-results .gs-result .gs-title:hover,
#cse.search-results .gs-result .gs-title:hover * {
    color: #c82f00
}
#cse.search-results .gsc-table-result tr {
    background: 0
}
#cse.search-results .gsc-table-result td {
    border: 0;
    padding: 0
}
#cse.search-results .gsc-table-result,
#cse.search-results .gsc-thumbnail-inside,
#cse.search-results .gsc-url-top {
    padding-left: 0;
    padding-right: 0
}
#cse.search-results .gsc-expansionArea .gsc-webResult.gsc-result {
    border-bottom: 1px solid #9e7e61;
    margin-bottom: 0;
    padding: 10px 0
}
#cse.search-results .gsc-results .gsc-cursor-box {
    margin: 10px 0
}
#cse.search-results .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background: #decda6;
    border: 1px solid #978060;
    color: #725d3f;
    display: block;
    float: left;
    height: 25px;
    line-height: 28px;
    padding: 0 10px;
    text-decoration: none
}
#cse.search-results .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page {
    text-decoration: none;
    background-color: #725a40;
    border: 1px solid #604c35;
    color: #fff5f5
}
.fa-chevron-down:before {
    background: url('../images/fa-chevron-down.png') no-repeat center 0;
    content: "\25bc";
    display: block;
    margin: 45px 0 0;
    font: 10px/10px Arial
}
#main-nav {
    float: left
}
#main-nav ul {
    width: 1000px;
    height: 80px
}
#main-nav ul>li {
    float: left;
    position: relative
}
#main-nav ul>li>a.main-nav__event {
    background-position: 0 -1982px;
    height: 70px;
    width: 136px
}
#main-nav ul>li>a.main-nav__event:hover,
#main-nav ul>li>a.main-nav__event.active {
    background-position: 0 -1912px;
    height: 70px;
    width: 136px
}
#main-nav ul>li>a.main-nav__event.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__feature {
    background-position: 0 -2124px;
    height: 72px;
    width: 140px
}
#main-nav ul>li>a.main-nav__feature:hover,
#main-nav ul>li>a.main-nav__feature.active {
    background-position: 0 -2052px;
    height: 72px;
    width: 140px
}
#main-nav ul>li>a.main-nav__feature.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__home {
    background-position: 0 -2302px;
    height: 106px;
    width: 268px
}
#main-nav ul>li>a.main-nav__home:hover,
#main-nav ul>li>a.main-nav__home.active {
    background-position: 0 -2196px;
    height: 106px;
    width: 268px
}
#main-nav ul>li>a.main-nav__home.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__lib {
    background-position: 0 -2621px;
    height: 71px;
    width: 140px
}
#main-nav ul>li>a.main-nav__lib:hover,
#main-nav ul>li>a.main-nav__lib.active {
    background-position: 0 -2550px;
    height: 71px;
    width: 140px
}
#main-nav ul>li>a.main-nav__lib.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__hotline {
    background-position: 0 -2479px;
    height: 71px;
    width: 160px
}
#main-nav ul>li>a.main-nav__hotline:hover,
#main-nav ul>li>a.main-nav__hotline.active {
    background-position: 0 -2408px;
    height: 71px;
    width: 160px
}
#main-nav ul>li>a.main-nav__hotline.off {
    opacity: .3
}
#main-nav ul>li>a.main-nav__social {
    background-position: 0 -2763px;
    height: 71px;
    width: 139px
}
#main-nav ul>li>a.main-nav__social:hover,
#main-nav ul>li>a.main-nav__social.active {
    background-position: 0 -2692px;
    height: 71px;
    width: 139px
}
#main-nav ul>li>a.main-nav__social.off {
    opacity: .3
}
#main-nav ul>li:hover ul {
    display: block
}
#main-nav ul>li>ul {
    border-radius: 0 0 10px 10px;
    border: 1px solid #d9d9e0;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -80px;
    width: 168px;
    height: auto;
    z-index: 9999
}
#main-nav ul>li>ul>li {
    width: 168px;
    background: #fff url('../images/nav-sub-line.png') no-repeat center bottom
}
#main-nav ul>li>ul>li:first-child {
    padding-top: 8px
}
#main-nav ul>li>ul>li:last-child {
    background: #fff url('../images/nav-sub-line-bottom.png') no-repeat center top;
    padding-bottom: 8px
}
#main-nav ul>li>ul>li ul {
    display: none
}
#main-nav ul>li>ul>li a {
    color: #737373;
    height: auto;
    padding-left: 20px;
    font: 15px/30px Arial
}
#main-nav ul>li>ul>li a:hover,
#main-nav ul>li>ul>li a.active {
    color: #a82a2d
}
#left-nav {
    width: 260px;
    float: left;
    margin-bottom: 10px
}
#left-nav .fa-chevron-down::before {
    background: 0;
    content: "\25bc";
    float: right;
    font: 14px/10px a;
    margin: 20px
}
#left-nav ul a {
    cursor: pointer
}
#left-nav ul>li {
    float: left
}
#left-nav ul>li a {
    display: block;
    background-position: 0 -1862px;
    height: 50px;
    width: 262px;
    color: #c3c8cf;
    font: 18px/50px Tahoma;
    text-indent: 25px
}
#left-nav ul>li a:hover,
#left-nav ul>li a.active,
#left-nav ul>li a.open {
    background-position: 0 -1812px;
    height: 50px;
    width: 262px;
    color: #1d1f27
}
#left-nav ul>li ul {
    display: none;
    float: left
}
#left-nav ul>li ul li {
    background: #212329
}
#left-nav ul>li ul li a {
    background: url('../images/left-nav-sub-nor.png') no-repeat 13px 17px;
    font: 15px/40px Tahoma;
    height: 40px;
    color: #9a9a9e;
    display: block;
    text-indent: 25px
}
#left-nav ul>li ul li a.active,
#left-nav ul>li ul li a:hover {
    background: url('../images/left-nav-sub-hov.png') no-repeat 13px 17px;
    color: #f54c18;
    height: 40px
}
#left-nav ul>li ul li:nth-child(even) {
    background: #26282e
}
#left-nav ul>li.active,
#left-nav ul>li.has-sub {
    background-position: 0 -40px
}
#left-nav ul>li.open span.holder {
    position: absolute;
    display: block;
    top: 15px;
    right: 10px
}
#left-nav ul>li.active ul,
#left-nav ul>li.open ul {
    display: block!important
}
body {
    background: #15161a;
    color: #808086;
    font: 15px/22px Tahoma, Arial, Verdana, sans-serif;
    background: url('../images/page-loop.jpg')
}
.Rating_vng_18 {
    top: 140px
}
.wrapper-out {
    background: url('../images/page-footer.jpg') no-repeat center bottom
}
.wrapper-out .wrapper {
    background: url('../images/page-header.jpg') no-repeat center top
}
.wrapper-out .wrapper.random_bg.header1 {
    background-image: url(//img.zing.vn/products/vltkm/skin-2016/images/page-header1.jpg)
}
.wrapper-out .wrapper.random_bg.header2 {
    background-image: url(//img.zing.vn/products/vltkm/skin-2016/images/page-header2.jpg)
}
.wrapper-out .wrapper.random_bg.header3 {
    background-image: url(//img.zing.vn/products/vltkm/skin-2016/images/page-header3.jpg)
}
.wrapper-out .wrapper.random_bg.header4 {
    background-image: url(//img.zing.vn/products/vltkm/skin-2016/images/page-header4.jpg)
}
.wrapper-out .wrapper .page-header {
    height: 550px;
    width: 1000px;
    margin: 0 auto;
    position: relative
}
.wrapper-out .wrapper .page-header--outter {
    background: url('../images/nav.png') top center no-repeat;
    width: 100%;
    margin: 0 auto
}
.wrapper-out .wrapper .page-header__logo {
    float: left;
    position: absolute;
    left: 120px;
    top: 100px;
    height: 118px;
    width: 255px
}
.wrapper-out .wrapper .page-header__clip {
    float: left;
    position: absolute;
    left: 210px;
    top: 445px;
    height: 65px;
    width: 75px;
    text-indent: -9999px;
    background: url('../images/clip.png') top center no-repeat
}
.wrapper-out .wrapper .page-main {
    float: left
}
.wrapper-out .wrapper .page-main--bot {
    width: 1000px;
    margin: 0 auto
}
.wrapper-out .wrapper .page-main--top {
    width: 1000px;
    margin: 0 auto
}
.wrapper-out .wrapper .page-main aside {
    float: left;
    width: 290px
}
.wrapper-out .wrapper .page-main main {
    float: left;
    width: 710px
}
#main-content {
    position: relative
}
.top {
    clear: both;
    background-position: 0 -2944px;
    height: 30px;
    width: 35px;
    margin: 0 auto
}
.top:hover {
    background-position: 0 -2914px;
    height: 30px;
    width: 35px
}
.top#scrolltop {
    position: absolute
}
.main-content {
    background: url(//img.zing.vn/products/vltkm/skin-2016/images/main-content-loop.jpg) repeat-y;
    width: 690px;
    float: left
}
.main-content--bot {
    background: url(//img.zing.vn/products/vltkm/skin-2016/images/main-content-bot.jpg) no-repeat 0 bottom
}
.main-content__title {
    background: #000 url('../images/main-content-title.jpg') no-repeat 0 0;
    padding-left: 40px;
    height: 90px;
    padding-top: 10px
}
.main-content__title h1 {
    height: 48px;
    color: #fff;
    font: bold 23px/50px Arial;
    text-shadow: 1px 1px #30331b
}
.main-content__title #breadcrumb {
    background: url('../images/sub-page/icon-breadcrumb.png') no-repeat 0 4px;
    padding-left: 18px
}
.main-content__title #breadcrumb li {
    display: inline-block;
    color: #fff
}
.main-content__title #breadcrumb li a {
    color: #fff;
    text-decoration: none
}
.main-content__title #breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline
}
.main-content__title #breadcrumb li.active,
.main-content__title #breadcrumb li:last-child {
    font-weight: bold;
    color: #fff
}
.main-content div.plugin-social-block-p {
    background: 0;
    border-bottom: 1px solid #755535;
    margin-bottom: 20px;
    width: 630px
}
.main-content div.plugin-social-block-p.active {
    background: url('../images/main-content-loop.jpg') repeat-y center;
    position: fixed;
    top: 0;
    z-index: 100
}
.main-content article {
    background: #fff;
    padding: 40px 30px 100px;
    color: #2c221b;
    width: 630px;
    min-height: 680px
}
.main-content article article {
    padding: 0
}
.main-content article iframe {
    display: block
}
.main-content article a {
    color: #c82f00;
    text-decoration: none
}
.main-content article a:hover {
    color: #2170d3;
    text-decoration: none
}
.main-content article .article__title {
    color: #1f1f1f;
    font: bold 22px/34px Tahoma;
    text-align: center
}
.main-content article .article__time {
    display: block;
    color: #2c221b;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center
}
.main-content article .article__detail {
    clear: both
}
.btn-sub a {
    background: url('../images/nut-phu.jpg') no-repeat;
    width: 290px;
    height: 96px;
    text-indent: -9999px;
    display: block;
    overflow: hidden
}
.btn-sub a.btn-fanpage {
    background-position: 0 -96px;
    height: 79px
}
.btn-sub a.btn-guide {
    background-position: 0 -174px
}
.tinhnang {
    background: url('../images/tinh-nang.jpg') no-repeat;
    width: 290px;
    height: 315px;
    display: block;
    overflow: hidden;
    padding-top: 45px
}
.tinhnang ul li {
    float: left;
    width: 50%
}
.tinhnang ul li a {
    color: #b1b1b1;
    padding: 5px 15px 10px 40px;
    display: block
}
.tinhnang ul li a:hover {
    color: #c42323
}
#fanpage-facebook {
    border: medium none;
    visibility: visible;
    height: 210px;
    width: 260px;
    margin-top: 10px
}
.subpage-sprite,
.subpage-bg-paging-first-hov,
.subpage-bg-paging-first-nor,
.subpage-bg-paging-last-hov,
.subpage-bg-paging-last-nor,
.subpage-bg-paging-left-hov,
.subpage-bg-paging-left-nor,
.subpage-bg-paging-right-hov,
.subpage-bg-paging-right-nor,
.subpage-lib-download-hov,
.subpage-lib-download,
.subpage-lib-msk-pic-hov,
.subpage-lib-msk-vid-hov,
.subpage-lib-msk-vid,
.subpage-top-hov,
.subpage-top,
.pagination-container .pagination li.prev a,
.pagination-container .pagination li.prev a:hover,
.pagination-container .pagination li.prev.disabled a,
.pagination-container .pagination li.prev.disabled a:hover,
.pagination-container .pagination li.next a,
.pagination-container .pagination li.next a:hover,
.pagination-container .pagination li.next.disabled a,
.pagination-container .pagination li.next.disabled a:hover,
.pagination-container .pagination li.last a,
.pagination-container .pagination li.last a:hover,
.pagination-container .pagination li.last.disabled a,
.pagination-container .pagination li.last.disabled a:hover,
.pagination-container .pagination li.first a,
.pagination-container .pagination li.first a:hover,
.pagination-container .pagination li.first.disabled a,
.pagination-container .pagination li.first.disabled a:hover,
.library-posts li.vid a .posts__post-mask,
.library-posts li.vid a:hover .posts__post-mask,
.library-posts li a:hover .posts__post-mask,
.library-posts li .posts__post-download,
.library-posts li .posts__post-download:hover {
    background-image: url('../images/subpage-s6137ffc6ba.png');
    background-repeat: no-repeat
}
.subpage-bg-paging-first-hov {
    background-position: 0 0;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-first-nor {
    background-position: 0 -30px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-last-hov {
    background-position: 0 -60px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-last-nor {
    background-position: 0 -90px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-left-hov {
    background-position: 0 -120px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-left-nor {
    background-position: 0 -150px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-right-hov {
    background-position: 0 -180px;
    height: 30px;
    width: 30px
}
.subpage-bg-paging-right-nor {
    background-position: 0 -210px;
    height: 30px;
    width: 30px
}
.subpage-lib-download-hov {
    background-position: 0 -240px;
    height: 30px;
    width: 30px
}
.subpage-lib-download {
    background-position: 0 -270px;
    height: 30px;
    width: 30px
}
.subpage-lib-msk-pic-hov {
    background-position: 0 -300px;
    height: 215px;
    width: 285px
}
.subpage-lib-msk-vid-hov {
    background-position: 0 -515px;
    height: 215px;
    width: 285px
}
.subpage-lib-msk-vid {
    background-position: 0 -730px;
    height: 215px;
    width: 285px
}
.subpage-top-hov {
    background-position: 0 -945px;
    height: 30px;
    width: 35px
}
.subpage-top {
    background-position: 0 -975px;
    height: 30px;
    width: 35px
}
.pagination-container {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    overflow: hidden
}
.pagination-container .pagination {
    overflow: hidden;
    display: inline-block;
    margin: 0 auto
}
.pagination-container .pagination li {
    display: inline-block;
    float: left;
    margin: 0 5px
}
.pagination-container .pagination li a {
    background: #fff;
    border: 1px solid #978060;
    color: #000;
    padding: 0 10px;
    display: block;
    font: bold 12px/28px Tahoma;
    text-decoration: none
}
.pagination-container .pagination li a:hover,
.pagination-container .pagination li.active a {
    background-color: #f3f3eb;
    border: 1px solid #604c35;
    color: #000
}
.pagination-container .pagination li.first a,
.pagination-container .pagination li.last a,
.pagination-container .pagination li.prev a,
.pagination-container .pagination li.next a {
    background-color: transparent;
    border: 0;
    padding: 0
}
.pagination-container .pagination li.disabled a,
.pagination-container .pagination li.disabled a:hover {
    cursor: default;
    opacity: .3
}
.pagination-container .pagination li.prev a {
    background-position: 0 -150px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.prev a:hover {
    background-position: 0 -120px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.prev.disabled a,
.pagination-container .pagination li.prev.disabled a:hover {
    background-position: 0 -150px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.next a {
    background-position: 0 -210px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.next a:hover {
    background-position: 0 -180px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.next.disabled a,
.pagination-container .pagination li.next.disabled a:hover {
    background-position: 0 -210px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.last a {
    background-position: 0 -90px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.last a:hover {
    background-position: 0 -60px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.last.disabled a,
.pagination-container .pagination li.last.disabled a:hover {
    background-position: 0 -90px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.first a {
    background-position: 0 -30px;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.first a:hover {
    background-position: 0 0;
    height: 30px;
    width: 30px
}
.pagination-container .pagination li.first.disabled a,
.pagination-container .pagination li.first.disabled a:hover {
    background-position: 0 -30px;
    height: 30px;
    width: 30px
}
.article__detail ul.icon,
.article__detail ul.Icon,
.article__detail ul.disc,
.article__detail ul.Disc,
.article__detail ul.dash,
.article__detail ul.Dash,
.article__detail ul.decimal,
.article__detail ul.Decimal,
.article__detail ul.UpperAlpha,
.article__detail ul.upper-alpha,
.article__detail ul.lower-alpha,
.article__detail ul.LowerCase {
    margin: 4px 0 6px 20px;
    clear: both
}
.article__detail ul.icon li,
.article__detail ul.Icon li,
.article__detail ul.disc li,
.article__detail ul.Disc li,
.article__detail ul.dash li,
.article__detail ul.Dash li,
.article__detail ul.decimal li,
.article__detail ul.Decimal li,
.article__detail ul.UpperAlpha li,
.article__detail ul.upper-alpha li,
.article__detail ul.lower-alpha li,
.article__detail ul.LowerCase li {
    margin-bottom: 8px;
    list-style-type: none;
    text-align: justify
}
.article__detail ul.icon li ul,
.article__detail ul.Icon li ul,
.article__detail ul.disc li ul,
.article__detail ul.Disc li ul,
.article__detail ul.dash li ul,
.article__detail ul.Dash li ul,
.article__detail ul.decimal li ul,
.article__detail ul.Decimal li ul,
.article__detail ul.UpperAlpha li ul,
.article__detail ul.upper-alpha li ul,
.article__detail ul.lower-alpha li ul,
.article__detail ul.LowerCase li ul {
    margin: 4px 0 6px 20px
}
.article__detail ul.icon li ul li,
.article__detail ul.Icon li ul li,
.article__detail ul.disc li ul li,
.article__detail ul.Disc li ul li,
.article__detail ul.dash li ul li,
.article__detail ul.Dash li ul li,
.article__detail ul.decimal li ul li,
.article__detail ul.Decimal li ul li,
.article__detail ul.UpperAlpha li ul li,
.article__detail ul.upper-alpha li ul li,
.article__detail ul.lower-alpha li ul li,
.article__detail ul.LowerCase li ul li {
    margin-bottom: 8px
}
.article__detail ul.icon li,
.article__detail ul.Icon li {
    background: url('../images/sub-page/icon.gif') 0 7px no-repeat;
    padding-left: 15px
}
.article__detail ul.icon li ul,
.article__detail ul.Icon li ul {
    margin: 4px 0 6px 10px
}
.article__detail ul.dash li,
.article__detail ul.Dash li {
    background: url(//img.zing.vn/products/vltkm/skin-2016/images/article/icon_dash.gif) 0 10px no-repeat;
    padding-left: 15px
}
.article__detail ul.dash li ul,
.article__detail ul.Dash li ul {
    margin: 4px 0 6px 10px
}
.article__detail ul.disc li,
.article__detail ul.Disc li {
    background: url('../images/sub-page/icon_disc.gif') 0 8px no-repeat;
    padding-left: 15px
}
.article__detail ul.disc li ul,
.article__detail ul.Disc li ul {
    margin: 4px 0 6px 10px
}
.article__detail ul.decimal li,
.article__detail ul.Decimal li {
    list-style-type: decimal;
    padding-left: 5px
}
.article__detail ul.UpperAlpha li,
.article__detail ul.upper-alpha li {
    list-style-type: upper-alpha
}
.article__detail ul.lower-alpha li,
.article__detail ul.LowerCase li {
    list-style-type: lower-alpha
}
.article__detail ul#tabHeader {
    background: 0;
    border-bottom: 0;
    width: 100%;
    margin: 10px 0;
    overflow: hidden
}
.article__detail ul#tabHeader ~ .tab__detail {
    display: none
}
.article__detail ul#tabHeader li {
    margin: 0;
    padding: 0 2px 0 0;
    float: left;
    white-space: nowrap
}
.article__detail ul#tabHeader li a {
    background: #fff;
    border: 1px solid #d5d2cd;
    color: #424242;
    font: 15px/38px Tahoma;
    font-weight: bold;
    float: left;
    display: block;
    padding: 0 15px;
    text-align: center;
    text-decoration: none
}
.article__detail ul#tabHeader li a:hover,
.article__detail ul#tabHeader li a.active {
    background: #a82a2d;
    border: 1px solid #a82a2d;
    color: #fff
}
.article__detail ul.anchor-link,
.article__detail ul.AnchorLink {
    background: 0;
    border: 1px solid #9a8465;
    margin: 10px 0;
    padding: 8px 20px;
    overflow: hidden
}
.article__detail ul.anchor-link li,
.article__detail ul.AnchorLink li {
    float: left;
    width: 172px
}
.article__detail ul.anchor-link li a,
.article__detail ul.AnchorLink li a {
    background: url('../images/sub-page/anchorlink.gif') no-repeat 0 15px;
    color: #c82f00;
    float: left;
    font-weight: bold;
    line-height: 30px;
    padding: 0 0 0 10px;
    text-decoration: none
}
.article__detail ul.anchor-link li a:hover,
.article__detail ul.AnchorLink li a:hover {
    background: url('../images/sub-page/anchorlink-hov.gif') no-repeat 0 15px;
    color: #2170d3;
    text-decoration: underline
}
.article__detail table {
    margin: 10px auto;
    border-collapse: collapse
}
.article__detail table tr:nth-child(odd),
.article__detail table tr.OddRow,
.article__detail table tr.odd {
    background: #fff
}
.article__detail table tr:nth-child(even),
.article__detail table tr.EvenRow,
.article__detail table tr.even {
    background: #f8f8f4
}
.article__detail table th {
    background: #a82a2d;
    border: 1px solid #c6cad5;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    font-weight: bolder
}
.article__detail table td {
    border: 1px solid #c6cad5;
    padding: 3px 10px
}
.article__detail table.no-border tr:nth-child(odd),
.article__detail table.no-border tr.OddRow,
.article__detail table.no-border tr.odd,
.article__detail table.no-border tr:nth-child(even),
.article__detail table.no-border tr.EvenRow,
.article__detail table.no-border tr.even {
    background: 0
}
.article__detail table.no-border th,
.article__detail table.no-border td {
    background: 0;
    border: 0;
    text-align: left;
    padding: 0;
    font-weight: normal
}
.article__detail table.no-border .icon {
    margin-left: 0
}
.article__detail table img {
    margin: 0;
    display: inline
}
.article__detail table .right,
.article__detail table .HorzRight,
.article__detail table .horz-right {
    text-align: right!important
}
.article__detail table .center,
.article__detail table .HorzCenter,
.article__detail table .horz-center {
    text-align: center!important
}
.article__detail table .VeztTop,
.article__detail table .vezt-top {
    vertical-align: top!important
}
.article__detail .notice-box,
.article__detail .NoticeBox {
    background: #fff;
    border: 1px solid #9a8465;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px
}
.article__detail .notice-box p.Legend,
.article__detail .notice-box p.legend,
.article__detail .NoticeBox p.Legend,
.article__detail .NoticeBox p.legend {
    background: #a82a2d;
    border: 1px solid #b52f02;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin: -20px 0 10px;
    padding: 0 15px;
    position: absolute
}
.article__detail p {
    padding: 5px 0;
    text-align: justify
}
.article__detail p.center img,
.article__detail p.TextCenter img {
    display: block;
    text-align: center;
    margin: 0 auto
}
.article__detail img {
    margin: 0;
    padding: 0
}
.article__detail img.ImgLeft,
.article__detail img.left {
    float: left;
    margin: 5px 10px 5px 0
}
.article__detail img.ImgRight,
.article__detail img.right {
    float: right;
    margin: 5px 0 5px 10px
}
.article__detail img.NoBorderImg,
.article__detail img.no-boder {
    border: 0;
    background: 0;
    padding: 0
}
.article__detail img.BorderImg,
.article__detail img.border {
    background-color: #a48967;
    border: 1px solid #a48967;
    padding: 1px
}
.article__detail img ~ br {
    height: 0;
    display: none
}
.article__detail img ~ .center,
.article__detail img.center {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    color: #424242;
    font-style: italic
}
.article__detail .FirstChar {
    padding: 4px 4px 0 0;
    line-height: 30px;
    font-size: 40px;
    float: left
}
.article__detail .center,
.article__detail .TextCenter {
    text-align: center
}
.article__detail .strong,
.article__detail .strong01 {
    font-weight: bold
}
.article__detail .strong02 {
    font-weight: bold;
    color: #c82f00
}
.article__detail h4 {
    background: url('../images/sub-page/icon_h4.png') no-repeat;
    background-position: 0 0;
    clear: both;
    font: bold 22px/40px Tahoma;
    color: #b93309;
    text-indent: 33px;
    margin-top: 5px
}
.article__detail h4 ~ p,
.article__detail h4 ~ ul,
.article__detail h4 ~ table,
.article__detail h4 ~ div {
    margin-left: 0px
}
.article__detail h4 ~ table {
    max-width: 597px
}
.article__detail h5 {
    background: url('../images/sub-page/icon_h5.png') no-repeat;
    background-position: 0 5px;
    clear: both;
    font: bold 18px/20px Tahoma;
    color: #325f96;
    margin-top: 5px;
    margin-left: 33px;
    text-indent: 20px
}
.article__detail h5 ~ p,
.article__detail h5 ~ ul,
.article__detail h5 ~ table,
.article__detail h5 ~ div {
    margin-left: 53px
}
.article__detail h5 ~ table {
    max-width: 577px
}
.article__detail .user-info p {
    background: #725a40;
    border-bottom: 0;
    font: 15px/30px Tahoma;
    color: #ece1cb;
    clear: both;
    position: relative;
    height: 30px;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    text-align: right
}
.article__detail .user-info p a {
    color: #ece1cb
}
.article__detail .user-info p a:hover {
    color: #ece1cb
}
.article__detail .user-info p #link-function {
    background: url('../images/sub-page/function.png') no-repeat right center;
    padding: 0 25px;
    text-decoration: none;
    cursor: pointer
}
.article__detail form {
    margin: 10px auto;
    width: 600px
}
.article__detail form fieldset legend {
    display: none
}
.article__detail form ul {
    list-style: none;
    margin: 0
}
.article__detail form ul>li {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0
}
.article__detail form ul.Radio {
    clear: none;
    float: left;
    list-style: none;
    overflow: hidden;
    width: 280px;
    margin: 0
}
.article__detail form ul.Radio li {
    float: left;
    line-height: 28px;
    margin: 0;
    padding: 0
}
.article__detail form ul.Radio li input {
    float: none;
    height: auto;
    width: auto
}
.article__detail form ul.RadioLine li {
    clear: none;
    float: left;
    width: 100%;
    overflow: hidden
}
.article__detail form ul.RadioLine li p {
    width: 40%;
    float: left;
    text-align: left
}
.article__detail form ul.RadioLine li input {
    width: auto;
    float: left;
    margin: 4px 33px 10px;
    outline: 0
}
.article__detail form ul.RadioLine li span {
    float: left;
    overflow: hidden;
    width: 20%
}
.article__detail form ul.RadioLine li span.Space {
    float: left;
    width: 40%;
    height: 1px
}
.article__detail form ul.Checkbox {
    clear: none;
    float: left;
    list-style: none;
    overflow: hidden;
    margin: 5px 0;
    padding: 0;
    width: 310px
}
.article__detail form ul.Checkbox li {
    float: left;
    margin: 0 0 8px 0;
    padding: 0
}
.article__detail form ul.Checkbox li.AnotherIdea {
    clear: both;
    width: 100%
}
.article__detail form ul.Checkbox li input {
    float: none;
    height: auto;
    width: auto
}
.article__detail form ul.Slider li .SliderHead {
    float: right
}
.article__detail form ul.Slider li .Less,
.article__detail form ul.Slider li .Great,
.article__detail form ul.Slider li .slider {
    float: left;
    width: 19%
}
.article__detail form ul.Slider li input {
    width: auto;
    margin: 3px 0 0 0;
    float: left
}
.article__detail form textarea {
    border: 1px solid #9a8465;
    background: #decda6;
    color: #2c221b;
    width: 268px;
    height: 80px;
    margin-bottom: 10px
}
.article__detail form select {
    border: 1px solid #9a8465;
    background: #decda6;
    color: #2c221b;
    text-align: center;
    width: 272px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0 6px
}
.article__detail form label {
    clear: left;
    float: left;
    display: block;
    text-align: right;
    width: 150px;
    height: 28px;
    padding-right: 10px;
    font: bold .5 tahoma
}
.article__detail form input {
    background: #decda6;
    border: 1px solid #9a8465;
    color: #2c221b;
    width: 250px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px
}
.article__detail form input.Verify {
    width: 110px;
    margin: 0 0 0 10px;
    clear: right
}
.article__detail form input.BtnReg,
.article__detail form input.BtnReset {
    border: none!important;
    width: auto!important;
    height: auto!important;
    margin: 15px 10px 0 170px;
    padding: 0!important
}
.article__detail form input.BtnReset {
    width: auto;
    margin: 15px 10px 0 0
}
.article__detail form .Require {
    color: #c82f00
}
.article__detail form .Note {
    background: url(//img.zing.vn/products/vltkm/skin-2016/images/article/Note.jpg) no-repeat 0 -4px #999;
    width: 115px;
    height: 20px;
    padding-left: 5px;
    text-align: left;
    float: right;
    color: #fff;
    font-size: 11px;
    line-height: 20px
}
.article__detail form .ImgVerify {
    float: left;
    margin: 0 10px 0 0
}
.article__detail form p {
    margin: 0;
    padding: 0;
    text-align: left
}
.article__detail form p.TextNote {
    color: #c82f00;
    font-size: 11px;
    font-family: Arial;
    padding: 0 0 0 170px
}
#list-function {
    background: #725a40;
    border: 1px solid #725a40;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    width: 200px;
    padding: 5px 0 8px;
    display: none
}
#list-function.active {
    display: block
}
#list-function li {
    margin-left: 10px;
    text-align: left;
    line-height: 20px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap
}
#list-function li a {
    text-decoration: none;
    background: url(//img.zing.vn/products/vltkm/skin-2016/images/article/function-icon.gif) no-repeat 0 center;
    padding-left: 10px;
    color: #ece1cb
}
#list-function li a:hover {
    color: #ecb477;
    text-decoration: underline
}
#list-function li.Off a {
    color: #a28568;
    cursor: default;
    text-decoration: none
}
.Popup {
    background: #725a40;
    border: 1px solid #725a40;
    color: #ece1cb;
    display: block;
    position: absolute;
    padding: 27px 0 0;
    width: 640px;
    z-index: 100
}
.Popup a.PopupClose {
    color: #ece1cb;
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    right: 9px;
    width: 50px;
    height: 27px;
    line-height: 27px
}
.Popup a.PopupClose:hover {
    color: #ece1cb;
    text-decoration: none
}
.Popup .InnerContent {
    background: #decda6;
    border: 1px solid #9a8465;
    color: #2c221b;
    height: auto;
    padding: 10px;
    width: auto
}
.wrapper-out .wrapper {
    /* background: url('../images/sub-page/bg-sub.jpg') top center no-repeat */
	background: url('../images/sub-page/backgr_hvk.png') top center no-repeat
}
ul.posts__tab {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8
}
ul.posts__tab li {
    float: left;
    position: relative;
    padding-right: 2px;
    margin: 0
}
ul.posts__tab li a {
    border: 2px solid #fff;
    color: #2d2c2a;
    display: block;
    font: bold 15px/30px Tahoma;
    padding: 5px 20px;
    text-decoration: none
}
ul.posts__tab li a:hover,
ul.posts__tab li a.active,
ul.posts__tab li.Active a {
    border-bottom: 2px solid #a82a2d;
    color: #a82a2d
}
ul.posts__tab li a:hover:after,
ul.posts__tab li a.active:after,
ul.posts__tab li.Active a:after {
    content: "";
    margin-left: -5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 10px;
    height: 6px
}
.posts__list li {
    border-bottom: 1px solid #9e7e61;
    width: 100%;
    height: 40px
}
.posts__list li:last-child {
    border-bottom: 0
}
.posts__list li a {
    color: #2c221b;
    line-height: 40px;
    text-decoration: none
}
.posts__list li a:hover {
    color: #c82f00
}
.posts__list li a span {
    float: left
}
.posts__list li a .posts__post-cate {
    color: #817b73;
    width: 90px;
    height: 22px;
    margin: 8px 10px 8px 0;
    font: 14px/28px Tahoma;
    text-align: center;
    text-transform: uppercase
}
.posts__list li a .posts__post-date {
    float: right;
    color: #2c221b
}
.posts__list.event-posts li {
    padding: 15px 0 20px;
    height: auto;
    float: left
}
.posts__list.event-posts li a {
    line-height: 22px;
    float: left
}
.posts__list.event-posts li a:hover img {
    border: 1px solid #c82f00
}
.posts__list.event-posts li a:hover .posts__post-title {
    text-decoration: underline
}
.posts__list.event-posts li a span {
    width: 445px
}
.posts__list.event-posts li a img {
    border: 1px solid #916d48;
    margin-right: 20px;
    margin-top: 5px;
    float: left;
    width: 140px;
    height: 80px
}
.posts__list.event-posts li a .posts__post-title {
    font-weight: bold;
    text-transform: uppercase
}
.posts__list.event-posts li a .posts__post-date,
.posts__list.event-posts li a .posts__post-intro {
    float: left;
    color: #2c221b
}
.library-posts li {
    border: 0;
    display: block;
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
    height: 215px;
    width: 285px
}
.library-posts li.vid a .posts__post-mask {
    background-position: 0 -730px;
    height: 215px;
    width: 285px
}
.library-posts li.vid a:hover .posts__post-mask {
    background-position: 0 -515px;
    height: 215px;
    width: 285px
}
.library-posts li a {
    display: block;
    float: left;
    position: relative
}
.library-posts li a img {
    display: block;
    width: 283px;
    height: 213px;
    border: #2f3846 solid 1px
}
.library-posts li a .posts__post-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 4
}
.library-posts li a:hover .posts__post-mask {
    background-position: 0 -300px;
    height: 215px;
    width: 285px
}
.library-posts li a:hover img {
    border: #2f3846 solid 1px
}
.library-posts li a:hover .posts__post-title {
    color: #f45220
}
.library-posts li a .posts__post-title {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    width: 265px;
    height: 30px;
    line-height: 33px;
    color: #c0c8db;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    padding: 0 10px
}
.library-posts li .posts__post-download {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-position: 0 -270px;
    height: 30px;
    width: 30px;
    z-index: 10;
    font-size: 9px;
    text-indent: -9999px
}
.library-posts li .posts__post-download:hover {
    background-position: 0 -240px;
    height: 30px;
    width: 30px
}
.block-relate-news h4 {
    background: #725a40;
    border-radius: 10px 10px 0 0;
    color: #ece1cb;
    font: bold 15px/35px Arial;
    text-indent: 15px;
    margin-bottom: 10px
}
.block-relate-news .posts__list li {
    background: url('../images/sub-page/icon-new.png') no-repeat left center;
    height: 30px
}
.block-relate-news .posts__list li a {
    text-indent: 15px;
    line-height: 30px
}
.block-relate-news .posts__list li a:hover {
    color: #2170d3
}
.block-relate-news .posts__list li .posts__post-cate {
    display: none
}
.tags {
    border-bottom: 1px solid #9e7e61;
    margin: 15px 0;
    padding: 10px 0
}
.tags .title {
    display: block;
    float: left;
    font-weight: bold;
    padding: 0 5px;
    color: #725a40;
    text-transform: uppercase
}
.tags a:link,
.tags a:visited {
    text-decoration: underline
}
.tags a:hover {
    text-decoration: none
}
.tags-list h3 {
    color: #b20000
}
.tags-list h3 strong {
    font-weight: bold;
    font-style: italic
}
.tags-list .tags-list__content ul {
    overflow: hidden
}
.tags-list .tags-list__content ul>li {
    list-style: none;
    overflow: hidden;
    position: relative;
    height: 40px;
    padding: 0;
    display: block;
    width: 100%;
    float: left;
    margin: 0
}
.tags-list .tags-list__content ul>li a:link,
.tags-list .tags-list__content ul>li a:visited {
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    display: block
}
.tags-list .tags-list__content ul>li a:hover {
    text-decoration: underline
}