/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes upto {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(10%); } }
.fontdow {
  -webkit-animation: fontdow 1s cubic-bezier(1, 0, 0, 1) infinite;
  animation: fontdow 1s cubic-bezier(1, 0, 0, 1) infinite; }

@-webkit-keyframes fontdow {
  0% {
    color: #fff; }
  33% {
    color: #ffbc00; }
  67% {
    color: #9fdbe9; }
  100% {
    color: #00ffd6; } }
@keyframes fontdow {
  0% {
    color: #fff; }
  33% {
    color: #ffbc00; }
  67% {
    color: #9fdbe9; }
  100% {
    color: #00ffd6; } }
@keyframes anim2 {
  0%,100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  10%,30%,50%,70%,90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,40%,60%,80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); } }
@-webkit-keyframes anim2 {
  0%,100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  10%,30%,50%,70%,90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,40%,60%,80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); } }
body {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #505050;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 6px; }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e94f09; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4; }

img {
  display: block;
  height: auto;
  width: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

p {
  margin: 0 0 10px; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }

textarea {
  resize: none; }

b,
strong {
  font-weight: 700; }

* {
  line-height: normal; }

* {
  min-height: 0; }

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 100%;
      max-width: 100%;
      padding-left: 24px;
      padding-right: 24px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 100%;
      max-width: 100%; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media only screen and (min-width: 1600px) {
    .container {
      max-width: 1200px; } }

.wrapper {
  overflow: hidden; }

a {
  color: #104773; }
  a:hover, a:focus {
    color: #e83b30;
    text-decoration: none; }

.a-link {
  color: #fff;
  text-decoration: underline; }
  .a-link:hover, .a-link:focus, .a-link:active {
    color: #fff;
    text-decoration: none; }

.a-link-2 {
  color: #00263F;
  text-decoration: underline; }
  .a-link-2:hover, .a-link-2:focus, .a-link-2:active {
    color: #00263F;
    text-decoration: underline;
    font-weight: bold; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div#popup-social-home {
  display: none !important; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex.center {
    justify-content: center; }

@font-face {
  font-family: 'Courier New', arial;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/courier-new.woff) format("woff"), url(../fonts/courier-new.ttf) format("truetype"); }
.btn-clear {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent; }

.btn {
  padding: 8px 20px;
  font-weight: 400;
  outline: none;
  border: none;
  white-space: nowrap; }
  .btn:focus, .btn:active, .btn:hover {
    outline: 0;
    box-shadow: none; }

.btn-primary {
  background-color: #00BED6;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #0ae4ff !important;
    color: #fff;
    border-color: #00BED6 !important; }

.scrolldown {
  position: absolute;
  left: 47%;
  top: 2%;
  background-image: url(../images/icons/_sprites-f1.png);
  background-position: -210px -230px;
  width: 125px;
  height: 100px;
  animation: upto 0.5s infinite; }
  .scrolldown span {
    display: none; }
  @media (max-width: 1200px) {
    .scrolldown {
      top: -2%; } }

.fix-icon-top #top {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../images/icons/kt-toppage-sub.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 95px;
  overflow: hidden;
  text-indent: -999em;
  width: 133px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .fix-icon-top #top:hover {
    background-position: 0 -95px; }
  @media only screen and (min-width: 1200px) {
    .fix-icon-top #top {
      top: 80%;
      right: 20%;
      -webkit-transform: translateY(-80%);
      -ms-transform: translateY(-80%);
      transform: translateY(-80%); } }

.text-underline {
  text-decoration: underline; }

.clr-title-1 {
  color: #00263F; }

.clr-desc {
  color: #24323d; }

.clr-strong {
  color: #ff352a; }

.clr-title-2 {
  color: #e83b30; }

.clr-text {
  color: #505050; }

.font-bold {
  font-weight: bold; }

.clr-white {
  color: #fff; }

.fz-100 {
  font-size: 100% !important; }

.hidden {
  display: none; }

.show {
  display: block; }

.fz-18 {
  font-size: 22px; }
  @media only screen and (min-width: 992px) {
    .fz-18 {
      font-size: 18px; } }

.fz-16 {
  font-size: 20px; }
  @media only screen and (min-width: 992px) {
    .fz-16 {
      font-size: 16px; } }

.box_sizing_border_box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.pull-right {
  float: right !important; }

.relative-content {
  position: relative; }

.p-a {
  position: absolute; }

.img-full {
  width: 100%;
  height: auto; }

.title-detail {
  margin: 0 auto; }
  .title-detail h1 {
    color: #f0ebea;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .title-detail h1 {
        font-size: 40px;
        margin-top: 32px; } }

.order-top {
  order: -1; }

.clr-h1 {
  color: #296052;
  margin: 0;
  font-weight: bold;
  padding: 0 20px;
  font-size: 24px; }
  @media only screen and (min-width: 992px) {
    .clr-h1 {
      font-size: 36px;
      color: #A32236; } }

.StaticMain figure img {
  margin: 10px auto; }

.img-titile {
  margin: 20px auto 20px; }

.nav-top {
  width: 100%;
  position: relative;
  background: url(../images/banner/navtop.jpg);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .nav-top.bg-nav-1 {
    background: #ae4800; }
  .nav-top .main-mobile {
    display: none;
    position: relative;
    z-index: 2; }
    .nav-top .main-mobile li:first-child {
      margin-right: auto;
      margin-left: 16px;
      max-width: 250px;
      flex: 0 0 250px; }
    .nav-top .main-mobile a {
      display: block; }
    .nav-top .main-mobile .gamename {
      height: 100%;
      padding: 21px 17px;
      align-items: flex-start; }
      .nav-top .main-mobile .gamename span {
        color: #c9c9c9;
        font-size: 23px; }
      .nav-top .main-mobile .gamename span.bold {
        font-weight: bold; }
    .nav-top .main-mobile .logo {
      max-width: 250px; }
      .nav-top .main-mobile .logo img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        display: inline-block; }
    .nav-top .main-mobile .home-mb {
      background-image: url(../images/icons/_sprites-aside.png);
      background-position: -325px -100px;
      width: 60px;
      height: 60px;
      margin-left: 20px; }
    .nav-top .main-mobile .fb-mb {
      background-image: url(../images/icons/_sprites-aside.png);
      background-position: -265px -100px;
      width: 60px;
      height: 60px;
      margin-left: 20px; }
    .nav-top .main-mobile .napthe-mb {
      background-image: url(../images/icons/_sprites-aside.png);
      background-position: 0px -130px;
      width: 121px;
      height: 60px;
      margin-left: 20px; }
    .nav-top .main-mobile .dangky-mb {
      background-image: url(../images/icons/_sprites-aside.png);
      background-position: -121px -130px;
      width: 120px;
      height: 60px;
      margin-left: 20px; }
    .nav-top .main-mobile .open-menu {
      background-image: url(../images/icons/_sprites-f2.png);
      background-position: -100px -496px;
      width: 100px;
      height: 100px;
      margin-left: 25px; }
    .nav-top .main-mobile .open-menu.toClose {
      background-image: url(../images/icons/_sprites-f2.png);
      background-position: 0px -496px;
      width: 100px;
      height: 100px; }
  .nav-top .menu {
    width: 1000px;
    height: 100%;
    margin: auto;
    min-height: 60px;
    line-height: 60px; }
    .nav-top .menu a {
      color: #ffffff;
      font-size: 20px;
      position: relative; }
      .nav-top .menu a::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 10px;
        background: #ffffff;
        right: -41px;
        top: 50%;
        transform: translateY(-50%); }
      .nav-top .menu a:hover {
        color: #ffdfa2; }
    .nav-top .menu a.active {
      color: #ffdfa2; }
    .nav-top .menu li:last-child a::after {
      display: none; }

.nav-top.hide {
  opacity: 1;
  pointer-events: all; }

@media (max-width: 1200px) {
  .nav-top {
    background: url(../images/banner/navtop-mb.jpg);
    height: 100px; }
    .nav-top.bg-nav-1 {
      background: #ae4800; }
    .nav-top .main-mobile {
      width: 100%;
      height: 100%;
      display: flex; }
    .nav-top .menu {
      transition: 0.5s transform ease-in-out;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: none;
      height: fit-content;
      background-color: #222d4d;
      transform-origin: left;
      transform: translateX(-100%);
      position: relative;
      z-index: 1; }
      .nav-top .menu li {
        width: 80%;
        border-bottom: 1px solid #46588d; }
        .nav-top .menu li a {
          height: 100px;
          font-size: 32px; }
          .nav-top .menu li a::after {
            display: none; }
    .nav-top .menu.active {
      transform: translateX(0%);
      pointer-events: unset; } }
#breadcrumb {
  background: transparent;
  align-items: center; }
  #breadcrumb li {
    display: inline-block;
    color: #505050;
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px 0 0; }
    @media only screen and (min-width: 768px) {
      #breadcrumb li {
        font-size: 20px; } }
    #breadcrumb li a {
      color: #505050;
      text-decoration: none;
      font-weight: 400; }
      #breadcrumb li a:hover {
        color: #e83b30;
        text-decoration: underline;
        font-weight: 600; }
    #breadcrumb li:last-child {
      font-weight: bold;
      color: #505050;
      font-weight: 600; }
  #breadcrumb li.active {
    font-weight: bold;
    color: #505050; }
    #breadcrumb li.active span {
      font-weight: bold;
      color: #000; }

.main-wrap {
  margin: 0 auto;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .main-wrap {
      width: 1200px; } }

.wrapper-out .wrapper {
  /* background: url('../images/images-page-header.jpg') no-repeat center top */ }

body {
  background: #be6933; }
  body.subpage {
    background: #172242; }
    body.subpage::-webkit-scrollbar {
      width: 6px; }
    body.subpage::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #eef1fa; }
    body.subpage::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.wrapper {
  background: url(../images/banner/wbg.png) no-repeat center top;
  position: relative;
  padding-top: 100px; }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      padding-top: 0px; } }

.section {
  position: relative; }

.content-wapper {
  width: 100%;
  height: 2451px;
  background: url(../images/banner/cont.png) no-repeat left top; }

.newsbox {
  width: 100%;
  background: url(../images/banner/juznz.png) no-repeat;
  height: 565px;
  background-size: 100%;
  position: relative; }
  @media only screen and (min-width: 1200px) {
    .newsbox {
      width: 1213px;
      position: relative; } }

.max-height-news {
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%; }
  .max-height-news ::-webkit-scrollbar {
    width: 6px; }
  .max-height-news ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .max-height-news ::-webkit-scrollbar-thumb {
    background-color: #e94f09;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  @media (max-width: 1200px) {
    .max-height-news {
      max-height: 250px;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%); } }

.section-3 {
  padding: 6% 24px 0 24px; }
  @media only screen and (min-width: 1200px) {
    .section-3 {
      padding: 0;
      padding-top: 24%; } }

.top {
  clear: both;
  background-position: 0 -2944px;
  height: 30px;
  width: 35px;
  right: 20% !important;
  left: auto !important; }
  .top:hover {
    background-position: 0 -2914px;
    height: 30px;
    width: 35px; }

.top#scrolltop {
  position: absolute; }

.banner-head {
  height: 1050px;
  width: 100%;
  background: url(../images/banner/head.jpg) no-repeat center top;
  position: relative;
  box-sizing: border-box;
  padding-top: 1px;
  background-size: 100% 100%; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.head-video {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 45%;
  transform: translateX(-50%);
  -webkit-mask: url(../images/banner/head-mask.png) center/100% 100%;
  mask: url(../images/banner/head-mask.png) center/100% 100%; }
  .head-video video {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media only screen and (min-width: 1200px) {
    .head-video {
      left: 50%; } }

.main-content article {
  color: #000; }

.section-2 {
  padding-top: 4%;
  padding-bottom: 100px; }
  @media only screen and (min-width: 992px) {
    .section-2 {
      padding-top: 12%; } }
  .section-2 .content-news {
    margin: 0px auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      .section-2 .content-news {
        width: 1130px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: unset; } }
    .section-2 .content-news .posts {
      position: relative;
      width: fit-content; }
      @media (max-width: 1200px) {
        .section-2 .content-news .posts {
          padding: 0 24px;
          width: 100%; } }
    .section-2 .content-news .posts__view {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/icons/_sprites-f3.png);
      background-position: 0px 0px;
      width: 672px;
      height: 95px;
      top: 108%; }
      .section-2 .content-news .posts__view:hover {
        filter: brightness(1.2); }
      @media only screen and (min-width: 1200px) {
        .section-2 .content-news .posts__view {
          right: 115px;
          left: auto;
          background-image: url(../images/icons/_sprites-f3.png);
          background-position: -598px -180px;
          width: 30px;
          height: 30px;
          top: 0;
          transform: none; } }
    .section-2 .content-news .posts__tab {
      height: 60px;
      width: 100%;
      border-radius: 30px;
      background-color: #671e1d;
      margin-bottom: 10px; }
      @media only screen and (min-width: 1200px) {
        .section-2 .content-news .posts__tab {
          width: 400px;
          background-color: #671e1d;
          height: 30px;
          border-radius: 15px; } }
      .section-2 .content-news .posts__tab a {
        width: 165px;
        height: 60px;
        font-size: 26px;
        color: #c6c1b5; }
        .section-2 .content-news .posts__tab a:hover {
          background-image: url(../images/icons/_sprites-f4.png);
          background-position: -533px -360px;
          width: 165px;
          height: 60px; }
        @media only screen and (min-width: 1200px) {
          .section-2 .content-news .posts__tab a {
            width: 120px;
            height: 30px;
            font-size: 18px; }
            .section-2 .content-news .posts__tab a:hover {
              background-image: url(../images/icons/_sprites-f4.png);
              background-position: -533px -420px;
              width: 120px;
              height: 30px;
              color: #fff; } }
      .section-2 .content-news .posts__tab a.active {
        background-image: url(../images/icons/_sprites-f4.png);
        background-position: -533px -360px;
        width: 165px;
        height: 60px;
        color: #fff; }
        @media only screen and (min-width: 1200px) {
          .section-2 .content-news .posts__tab a.active {
            background-image: url(../images/icons/_sprites-f4.png);
            background-position: -533px -420px;
            width: 120px;
            height: 30px; } }
    .section-2 .content-news .posts__list {
      width: 100%; }
      @media only screen and (min-width: 1200px) {
        .section-2 .content-news .posts__list {
          width: 560px; } }
      .section-2 .content-news .posts__list li {
        border-bottom: 1px solid #505050;
        padding: 10px 0; }
        .section-2 .content-news .posts__list li:last-child {
          border-bottom: none; }
        @media only screen and (min-width: 1200px) {
          .section-2 .content-news .posts__list li {
            border-bottom: 1px solid #fff; } }
      .section-2 .content-news .posts__list .posts__post-title {
        font-size: 26px;
        padding-left: 20px;
        position: relative;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        font-weight: 500; }
        @media only screen and (min-width: 992px) {
          .section-2 .content-news .posts__list .posts__post-title {
            font-size: 16px; } }
        @media only screen and (min-width: 1200px) {
          .section-2 .content-news .posts__list .posts__post-title {
            font-size: 18px;
            color: #fff; } }
        .section-2 .content-news .posts__list .posts__post-title::before {
          content: "";
          background-image: url(../images/icons/_sprites-f4.png);
          background-position: -705px -167px;
          width: 12px;
          height: 12px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); }
          @media (max-width: 1200px) {
            .section-2 .content-news .posts__list .posts__post-title::before {
              background-color: #989AA5;
              border-radius: 5px; } }
        .section-2 .content-news .posts__list .posts__post-title:hover {
          color: #ffd259; }
          .section-2 .content-news .posts__list .posts__post-title:hover::before {
            background-image: url(../images/icons/_sprites-f4.png);
            background-position: -693px -167px;
            width: 12px;
            height: 12px; }
    .section-2 .content-news .posts__search {
      position: relative;
      margin-top: 10px; }
      .section-2 .content-news .posts__search .search-input {
        padding: 0 20px;
        width: 100%;
        background-color: #671e1d;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #ae684a;
        color: white;
        font-size: 18px; }
        .section-2 .content-news .posts__search .search-input::placeholder {
          color: #935858; }
      .section-2 .content-news .posts__search .btn-search {
        background-image: url(../images/icons/_sprites-f4.png);
        background-position: -693px -130px;
        width: 26px;
        height: 26px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: transparent;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        .section-2 .content-news .posts__search .btn-search:hover {
          filter: brightness(1.2); }
  .section-2 .bg-top {
    position: absolute;
    top: -49px;
    left: 0; }
  .section-2 .bg-bot {
    position: absolute;
    bottom: -44px;
    left: 0; }
    @media only screen and (min-width: 992px) {
      .section-2 .bg-bot {
        bottom: -64px; } }

.banner {
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .banner {
      width: 565px; } }
  .banner .banner-swiper {
    width: 100%;
    margin-bottom: 40px; }
    @media only screen and (min-width: 1200px) {
      .banner .banner-swiper {
        width: 565px; } }
    .banner .banner-swiper .banner-frame {
      width: 100%;
      height: 500px;
      margin: 0 auto;
      display: block;
      background-color: rgba(255, 237, 189, 0.2);
      justify-content: center; }
      .banner .banner-swiper .banner-frame img {
        height: 100%;
        width: 100%;
        padding: 0 24px; }
      @media only screen and (min-width: 1200px) {
        .banner .banner-swiper .banner-frame {
          width: 522px;
          height: 300px;
          margin: 0 auto;
          background-color: rgba(255, 237, 189, 0.2);
          display: flex; }
          .banner .banner-swiper .banner-frame img {
            width: 495px;
            height: 290px;
            padding: 0; } }
    .banner .banner-swiper .swiper-pagination {
      text-align: left;
      width: 100%;
      position: absolute;
      left: 10%;
      bottom: 8px;
      z-index: 2; }
      .banner .banner-swiper .swiper-pagination .swiper-pagination-bullet {
        background-image: url(../images/icons/_sprites-f4.png);
        background-position: -739px -130px;
        width: 20px;
        height: 20px;
        opacity: 1;
        background-color: transparent;
        display: inline-block; }
      .banner .banner-swiper .swiper-pagination .swiper-pagination-bullet-active {
        background-image: url(../images/icons/_sprites-f4.png);
        background-position: -719px -130px;
        width: 20px;
        height: 20px; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-android .swiper-slide {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }
  @media (max-width: 1200px) {
    .swiper-slide {
      width: 100% !important; } }

.swiper-container-autoheight {
  height: auto; }
  .swiper-container-autoheight .swiper-slide {
    height: auto; }
  .swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform, height; }

.block-list-function {
  background-color: transparent;
  padding: 16px;
  border-radius: 10px;
  max-width: 280px;
  margin: 0 auto; }
  .block-list-function ul li {
    padding: 10px 0 10px 5px;
    border-bottom: 1px dashed #baa67b;
    position: relative;
    text-align: center; }
    .block-list-function ul li:last-child {
      border-bottom: none; }
    .block-list-function ul li a {
      color: #5c4926;
      font-size: 24px;
      text-transform: capitalize;
      font-weight: 600;
      text-align: center; }
      @media only screen and (min-width: 992px) {
        .block-list-function ul li a {
          font-size: 20px; } }
      .block-list-function ul li a br {
        display: none; }
      .block-list-function ul li a:hover {
        color: red; }
        .block-list-function ul li a:hover::before {
          background-image: url(../images/icons/_sprites-f4.png);
          background-position: -693px -167px;
          width: 12px;
          height: 12px;
          background-color: red; }

.page-header {
  height: 445px;
  margin: 0 auto;
  position: relative; }

.sub .posts__tab-2 {
  width: 100%;
  background-color: #122646;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px; }
  .sub .posts__tab-2 a {
    width: 210px;
    height: 50px;
    color: #8295a3;
    font-size: 26px; }
    @media only screen and (min-width: 992px) {
      .sub .posts__tab-2 a {
        font-size: 21px; } }
    .sub .posts__tab-2 a:hover {
      background-image: url(../images/icons/_sprites-f4.png);
      background-position: -533px -311px;
      width: 210px;
      height: 48px;
      color: #fff; }
  .sub .posts__tab-2 a.active {
    background-image: url(../images/icons/_sprites-f4.png);
    background-position: -533px -311px;
    width: 210px;
    height: 48px;
    color: #fff; }
.sub .posts__list li {
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #3f5577;
  width: 100%; }
  .sub .posts__list li a {
    color: #dcdcdc;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .sub .posts__list li a:hover {
      color: #ffd259; }
    .sub .posts__list li a .posts__post-date {
      color: #8295a3;
      position: absolute;
      top: 5px;
      right: 0; }
.sub .posts__list.event-posts li {
  padding: 15px 0 20px;
  height: auto;
  float: left; }
  .sub .posts__list.event-posts li a {
    line-height: 22px;
    float: left; }
    .sub .posts__list.event-posts li a:hover img {
      border: 1px solid #c82f00; }
    .sub .posts__list.event-posts li a:hover .posts__post-title {
      text-decoration: underline; }
    .sub .posts__list.event-posts li a span {
      width: 445px; }
    .sub .posts__list.event-posts li a img {
      border: 1px solid #916d48;
      margin-right: 20px;
      margin-top: 5px;
      float: left;
      width: 140px;
      height: 80px; }
    .sub .posts__list.event-posts li a .posts__post-title {
      font-weight: bold;
      text-transform: uppercase; }
    .sub .posts__list.event-posts li a .posts__post-date {
      float: left;
      color: #2c221b; }
    .sub .posts__list.event-posts li a .posts__post-intro {
      float: left;
      color: #2c221b; }

@media (max-width: 1200px) {
  .sub .posts__tab-2 {
    height: 60px;
    width: 100%;
    border-radius: 30px; }
    .sub .posts__tab-2 a {
      width: 165px;
      height: 60px;
      font-size: 26px; }
      .sub .posts__tab-2 a:hover {
        background-image: url(../images/icons/_sprites-f4.png);
        background-position: -533px -360px;
        width: 165px;
        height: 60px;
        font-size: 26px; }
    .sub .posts__tab-2 a.active {
      background-image: url(../images/icons/_sprites-f4.png);
      background-position: -533px -360px;
      width: 165px;
      height: 60px;
      font-size: 26px; } }
.posts__post-cate {
  width: 140px;
  height: 30px;
  font-size: 16px;
  padding: 7px;
  text-align: center;
  background-color: #314271;
  display: block;
  border-radius: 16px;
  color: #c0cbd3;
  font-weight: bold;
  margin-right: 20px; }

.article__title {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin: 0 auto 30px;
  color: #af4d51;
  position: relative;
  color: #f5e7c4;
  font-family: 'Playfair Display SC', serif; }
  .article__title:after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #dcdcdc;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px / 2); }
  @media only screen and (min-width: 992px) {
    .article__title {
      font-size: 40px; } }

.sub .posts__post-title {
  color: #dcdcdc;
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize; }
  .sub .posts__post-title:hover {
    color: #ffd259; }
  @media only screen and (min-width: 992px) {
    .sub .posts__post-title {
      font-size: 18px; } }
  @media only screen and (min-width: 1200px) {
    .sub .posts__post-title {
      font-size: 20px; } }

.article__time {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #dcdcdc;
  font-size: 20px; }
  @media only screen and (min-width: 992px) {
    .article__time {
      font-size: 16px; } }

.wrapper-page {
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  overflow: hidden; }
  .wrapper-page .container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto; }

.center-align {
  margin: 0 auto; }

.frame2 {
  background: url(../images/banner/bg-page.jpg) top left no-repeat;
  min-height: 780px;
  background-size: cover; }

.f2-letter-content {
  width: 78%;
  position: absolute;
  max-height: 600px;
  overflow-x: hidden;
  margin: 5% 12% 0 10%;
  color: #f5e7c4;
  text-align: left;
  font-size: 18px;
  line-height: 30px; }
  .f2-letter-content .posts__list {
    overflow-x: hidden;
    max-height: 300px;
    overflow-y: auto; }
    .f2-letter-content .posts__list ::-webkit-scrollbar {
      width: 6px; }
    .f2-letter-content .posts__list ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px; }
    .f2-letter-content .posts__list ::-webkit-scrollbar-thumb {
      background-color: #e94f09;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.f2-content {
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 100%; }

.f2-title {
  margin: 40px auto 20px auto; }
  @media only screen and (min-width: 1200px) {
    .f2-title {
      margin: 2% auto; } }

.f2-letter {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  margin: 20% 0 0 0;
  z-index: 6; }

.f2-letter-content p {
  padding: 5px 0 5px 0; }

@media only screen and (max-width: 912px) {
  .f2-letter-content {
    max-height: 840px;
    margin: 10% 12% 0 10%;
    font-size: 20px;
    line-height: 30px; }

  .f2-letter-content p {
    padding: 10px 0 10px 0; } }
@media only screen and (max-width: 820px) {
  .f2-letter-content {
    max-height: 780px; } }
@media only screen and (max-width: 768px) {
  .f2-letter-content {
    max-height: 720px; } }
@media only screen and (max-width: 600px) {
  .f2-letter-content {
    width: 82%;
    max-height: 570px;
    margin: 10% 10% 0 8%;
    font-size: 16px;
    line-height: 25px; } }
@media only screen and (max-width: 540px) {
  .f2-letter-content {
    width: 82%;
    max-height: 510px;
    margin: 10% 10% 0 8%;
    font-size: 14px;
    line-height: 23px; }

  .f2-letter-content p {
    padding: 5px 0 5px 0; } }
@media only screen and (max-width: 480px) {
  .f2-letter-content {
    max-height: 460px;
    font-size: 12px;
    line-height: 20px; } }
@media only screen and (max-width: 451px) {
  .f2-letter-content {
    max-height: 440px;
    font-size: 12px;
    line-height: 20px; } }
@media only screen and (max-width: 428px) {
  .f2-letter-content {
    width: 83%;
    margin: 9% 9% 0 8%;
    max-height: 410px;
    font-size: 11px;
    line-height: 18px; } }
@media only screen and (max-width: 391px) {
  .f2-letter-content {
    margin: 8% 9% 0 8%;
    max-height: 370px;
    font-size: 11px;
    line-height: 18px; } }
@media only screen and (max-width: 320px) {
  .f2-letter-content {
    max-height: 310px;
    font-size: 10px;
    line-height: 15px; } }
.icon-house {
  background: url(../images/icons/icon-house.svg) no-repeat center;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle; }

.title_news {
  text-align: center;
  margin: 23px auto;
  padding-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media only screen and (min-width: 1200px) {
  .section-1-page {
    padding-top: 60px;
    display: block;
    height: 1000px; } }
@media (max-width: 1200px) {
  .section-1-page {
    height: 10px;
    background-color: #172242;
    display: none; } }
.section-1-page .logo {
  position: absolute;
  left: 20%;
  top: 15%;
  background-position: 0px 0px;
  max-width: 400px; }
  @media (max-width: 1200px) {
    .section-1-page .logo {
      display: none; } }

.desktop {
  display: flex; }

.section__background {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .section__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto; }
  @media (max-width: 1200px) {
    .section__background {
      display: none; } }

.section--content {
  min-height: calc(100vh - 100px - 200px);
  background-color: #172242;
  padding-top: 110px;
  background-color: #172242; }
  @media only screen and (min-width: 1200px) {
    .section--content {
      height: fit-content;
      min-height: 800px;
      height: fit-content;
      padding-top: 0px; } }
  .section--content .main {
    max-width: 1200px;
    margin: auto;
    transform: translateY(-350px); }
    @media (max-width: 1200px) {
      .section--content .main {
        max-width: 98%;
        margin: auto;
        margin-top: 10px;
        transform: unset; } }
  .section--content .title-sub {
    margin-bottom: 50px; }
  .section--content .article {
    height: max-content; }

.section__background-2 {
  position: absolute;
  z-index: -1;
  left: calc(-1 * (1434px - 1200px) / 2);
  top: 0;
  width: 1434px; }
  @media (max-width: 1200px) {
    .section__background-2 {
      display: none; } }

.main__content {
  position: relative;
  padding: 25px 25px 100px;
  color: #dcdcdc;
  font-size: 24px;
  line-height: 30px; }
  @media only screen and (min-width: 1200px) {
    .main__content {
      font-size: 18px;
      padding: 25px 100px 50px; } }
  @media only screen and (min-width: 1600px) {
    .main__content {
      font-size: 18px;
      line-height: 24px; } }

.title-sub-top {
  margin-bottom: 40px; }

.has-text-align-center {
  text-align: center; }

table {
  max-width: 90%;
  margin: 20px auto 30px;
  width: 100%; }
  table.table-detail tr {
    background: #cfcfcf; }
    table.table-detail tr:first-child {
      background: #cfcfcf; }
    table.table-detail tr td {
      border: 1px solid #BBBBBB;
      color: #212529;
      text-align: center; }
    table.table-detail tr a {
      color: #212529; }
  table p {
    font-size: 18px;
    line-height: 28px;
    width: 100%; }
  table tr {
    background: rgba(48, 62, 104, 0.6); }
    table tr:first-child {
      background: #487496; }
    table tr th {
      color: #fff;
      font-size: 17px;
      background: #487496;
      text-align: center;
      border: 1px solid #5a86a8;
      padding: 10px 15px; }
    table tr td {
      font-size: 17px;
      padding: 10px;
      border: 1px solid #465580;
      color: #dcdcdc;
      text-align: center; }
    table tr a {
      color: #dcdcdc;
      text-decoration: underline; }
      table tr a:hover {
        color: #e83b30; }
    table tr img {
      margin: 0 auto;
      display: initial; }

.article__detail {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Courier New', arial; }
  @media only screen and (min-width: 1200px) {
    .article__detail {
      font-size: 18px;
      line-height: 24px; } }
  .article__detail table a {
    color: #dcdcdc;
    text-decoration: underline; }
    .article__detail table a:hover {
      color: #e83b30; }
  .article__detail p {
    margin: 10px 0; }
  .article__detail p a {
    font-size: 24px;
    font-family: 'Courier New', arial; }
    @media only screen and (min-width: 1200px) {
      .article__detail p a {
        font-size: 18px; } }
  .article__detail img {
    margin: 0 auto; }

/*------------------------------------------------------------------
[Footer]
*/
.nav_right {
  display: block;
  position: fixed;
  z-index: 999;
  right: -202px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 235px;
  height: 350px;
  background-image: url(../images/icons/sprite.png);
  background-position: 0 0px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .nav_right ul.buttai {
    width: 160px;
    height: auto;
    position: relative;
    margin: 80px 0 0 39px; }
    .nav_right ul.buttai li {
      float: left;
      margin: 15px 0 0 0; }
    .nav_right ul.buttai .app-info__install--pc > a {
      display: block;
      text-indent: -9999px;
      height: 50px;
      width: 150px; }
  .nav_right .gift_code {
    position: relative;
    width: 160px;
    height: 82px;
    animation: anim2 3s ease-in-out infinite alternate;
    display: block;
    background: url("../images/icons/text-hd.png") no-repeat bottom;
    top: 130px;
    left: 36px; }
    .nav_right .gift_code:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("../images/icons/text-hd.png") no-repeat bottom;
      opacity: 0; }
    .nav_right .gift_code:hover:after {
      animation: anim4 0.6s ease-in-out; }
  .nav_right .i_control {
    width: 28px;
    height: 85px;
    background: url(../images/icons/i_close_nav_right.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: 100px;
    left: -3px;
    cursor: pointer; }
  .nav_right .i_control.i_control_active {
    left: -3px;
    background: url(../images/icons/i_open_nav_right.png) no-repeat center center; }

.nav_right.open {
  right: 0; }

.button-fanpage a {
  background-image: url("../images/icons/sprite.png") !important;
  background-position: -235px 0 !important; }
.button-fanpage:hover a {
  background-image: url("../images/icons/sprite.png") !important;
  background-position: -235px -50px !important; }

.button-group a {
  background-image: url("../images/icons/sprite.png") !important;
  background-position: -235px -100px !important; }
.button-group:hover a {
  background-image: url("../images/icons/sprite.png") !important;
  background-position: -235px -150px !important; }

@media (max-width: 1024px) {
  .nav_right {
    display: none; } }
.footer-site {
  position: absolute;
  left: 25%;
  bottom: 80px;
  color: #fff;
  color: #fff; }
  @media only screen and (min-width: 1200px) {
    .footer-site {
      transform: translateX(-50%);
      width: 100%;
      left: 50%;
      bottom: 100px;
      padding-left: 45px; } }
  .footer-site .a-link {
    text-decoration: underline; }

.footer-site-page {
  background: url(../images/banner/page-footer.jpg) no-repeat center bottom; }

.section--footer {
  background-color: #172242;
  width: 100%;
  padding: 32px 0; }
  .section--footer .clr-white {
    color: #aeacaa;
    line-height: 32px; }

.logo-footer {
  margin-right: 24px;
  max-width: 250px;
  flex: 0 0 250px; }
  .logo-footer img {
    max-width: 250px;
    margin: 0 auto;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
